{#% extends '::base.html.twig' %#}
<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    </head>
    <body>
        {% block content %}
            {% block xlabs_chat_wrapper %}{% endblock xlabs_chat_wrapper %}
        {% endblock content %}
    </body>
</html>