{#<link rel="stylesheet" href="{{ asset('bundles/xlabschat/css/base.css') }}" type="text/css"/>#}
<style>
    .gqOverlayLink {  position: fixed; background-color: #f9f6f6; bottom: 10px; right: 10px; padding: 10px 15px; border-radius: 3px; width: unset; max-width: 100%; border: 1px solid #dcdcdc; z-index: 999999999999999; }
    .gqOverlayLink .gqOverlayContent{ float: left; display: inline-block; text-align: center; position: relative; width: 100%; padding-right: 50px;}

    .gqOverlayLink .gqOverlayTitle{ display: inline-block; float: right; position: relative; text-align: right; font: 20px/20px LatoMedium,Helvetica,Arial,sans-serif; color: #414141; font-style: italic; clear: both;}

    .gqOverlayLink .gqOverlaySubtitle{ display: inline-block; float: right; position: relative; text-align: right; font: 16px/20px Lato,Helvetica,Arial,sans-serif; color: #414141;clear: both; font-style: italic; }

    .gqOverlayLink  .gqOverLayCount{ position: absolute; right: 0; top: 0; color: #fff; background-color: #b9dfc1; border-radius: 50%; min-width: 40px;font: 16px/40px Lato,Helvetica,Arial,sans-serif; height: 40px;}

    @-webkit-keyframes incoming_msg {
        from { background-color: #2A98F3; }
        to { background-color: inherit; }
    }
    @-moz-keyframes incoming_msg {
        from { background-color: #2A98F3; }
        to { background-color: inherit; }
    }
    @-o-keyframes incoming_msg {
        from { background-color: #2A98F3; }
        to { background-color: inherit; }
    }
    @keyframes incoming_msg {
        from { background-color: #2A98F3; }
        to { background-color: inherit; }
    }
    .incoming_msg {
        -webkit-animation: incoming_msg 1s infinite; /* Safari 4+ */
        -moz-animation:    incoming_msg 1s infinite; /* Fx 5+ */
        -o-animation:      incoming_msg 1s infinite; /* Opera 12+ */
        animation:         incoming_msg 1s infinite; /* IE 10+ */
    }
</style>

<script src="{{ asset('bundles/xlabschat/_XLC.js') }}"></script>

<script src="{{ asset('chat/node_modules/socket.io/node_modules/socket.io-client/socket.io.js') }}"></script>

<script>
    $(document).ready(function(){
        /*$('<script/>', {
            src: '{{ asset('chat/node_modules/socket.io/node_modules/socket.io-client/socket.io.js') }}'
        }).appendTo('head');*/

        /*$.ajax({
            url: Routing.generate('xlabs_chat_loader'),
            type: 'get',
            dataType: 'json',
            success: function(data){
                if(!data.error)
                {
                    let xlabs_chat_html_structure = {};

                    xlabs_chat_html_structure.a = $('<a/>').addClass('gqOverlayLink');
                    xlabs_chat_html_structure.div = $('<div/>').addClass('gqOverlayContent');
                    xlabs_chat_html_structure.span_title = $('<span/>').addClass('gqOverlayTitle').text('Start Chatting');
                    xlabs_chat_html_structure.span_subtitle = $('<span/>').addClass('gqOverlaySubtitle').text('with our new app');
                    xlabs_chat_html_structure.span_total_messages = $('<span/>').addClass('gqOverLayCount').text('');

                    xlabs_chat_html_structure.div
                        .append(xlabs_chat_html_structure.span_title)
                        .append(xlabs_chat_html_structure.span_subtitle)
                        .append(xlabs_chat_html_structure.span_total_messages);
                    xlabs_chat_html_structure.a
                        .append(xlabs_chat_html_structure.div);

                    $('<link/>', {
                        rel: 'stylesheet',
                        type: 'text/css',
                        href: '{{ asset('bundles/xlabschat/css/base.css') }}'
                    }).appendTo("head");
                    $('body').append(xlabs_chat_html_structure.a);
                } else {
                    console.log('Chat server is not running');
                }
            },
            error: function(err){
                console.log('Error in chat loader');
                console.log(err.message);
            }
        });*/

        var XLC = new _XLC();
        XLC.init();

        XLC.user = {
            id: '{{ app.user.id }}',
            username: '{{ app.user.username }}',
            //avatar: '',
            //status: 'online'
        };

        let connectionOptions = {
            secure: true,
            rejectUnauthorized: true,
            transports: ['websocket']
            //ca: fs.readFileSync('server-cert.pem')
        };
        //XLC.socket = io('{{ config.nodejs_settings.host }}:{{ config.nodejs_settings.port }}/xlabs_chat{{ channel_name }}', connectionOptions);
        XLC.socket = io('https://{{ config.nodejs_settings.host }}/xlabs_chat{{ channel_name }}', connectionOptions);

        XLC.socket.on('error', function(data){
            console.log('Chat server connection could not be established');
        });
        XLC.socket.on('connect_failed', function(data){
            console.log('Chat server connection could not be established');
        });
        XLC.socket.on('connect_error', function(data){
            console.log('Chat server connection could not be established');
        });
        XLC.socket.on('reconnecting', function reconnectCallback(tries){
            if(tries === 3)
            {
                // Dont try to reconnect after 3 attempts
                XLC.socket.disconnect();
            }
        });
        XLC.socket.on('connect', function(){
            $('.gqOverlayLink').show();
        });

        XLC.socket.emit('login', XLC.user);

        XLC.socket.on('message', function(message){
            if(message.author.id != XLC.user.id)
            {
                $('.gqOverlayLink .gqOverLayCount').addClass('incoming_msg').text(parseInt($('.gqOverlayLink .gqOverLayCount').text()) + 1);
                setTimeout(function(){
                    $('.gqOverlayLink .gqOverLayCount').removeClass('incoming_msg');
                }, 3000);
            }
        });

        XLC.socket.on('mark_conversation_as_read', function(data){
            let total_read_messages = parseInt($('.gqOverlayLink .gqOverLayCount').text()) - parseInt(data.total_messages_marked);
            total_read_messages = (total_read_messages < 0) ? 0 : total_read_messages;
            $('.gqOverlayLink .gqOverLayCount').text(total_read_messages);
        });
    });
</script>

<a href="{{ path('xlabs_chat_homepage') }}" class="gqOverlayLink" target="_blank" style="display: none;">
    <div class="gqOverlayContent">
        <span class="gqOverlayTitle">Start Chatting</span>
        <span class="gqOverlaySubtitle">with our new app</span>
        <span class="gqOverLayCount">{{ total_unread_messages }}</span>
    </div>
</a>