const app = require('express')();
const express = require('express');
const fs = require('fs');
const crypto = require('crypto');
const Promise = require('es6-promise').Promise;
const _ = require('underscore');
const mysql = require('mysql');

var options = {
    key: fs.readFileSync('{{ bundle_config.nodejs_settings.ssl_key | raw }}'),
    cert: fs.readFileSync('{{ bundle_config.nodejs_settings.ssl_cert | raw }}'),
    ca: fs.readFileSync('{{ bundle_config.nodejs_settings.ssl_bundle | raw }}'),
    /*ca: [
        fs.readFileSync('path/to/CA_root.crt'),
        fs.readFileSync('path/to/ca_bundle_certificate.crt')
    ],*/
    requestCert: true
};

var instance = require('https').createServer(options, app);
var io = require('socket.io')(instance);

/*
Redis will allow multiple node.js server instances to communicate with each other (scalability)
 */
var socket_redis = require('socket.io-redis');
io.adapter(socket_redis({ host: '{{ bundle_config.redis_settings.host }}', port: {{ bundle_config.redis_settings.port }} }));

// Namespace for the chat
io = io.of('/xlabs_chat{{ channel_name }}');

app.use('/js', express.static(__dirname + '/js'));
app.use('/sounds', express.static(__dirname + '/sounds'));
/*app.use(function(req, res, next) {
    res.header('Access-Control-Allow-Origin', '*');
    res.setHeader('Access-Control-Allow-Origin', '*');
    res.header('Access-Control-Allow-Origin', req.get('origin'));
    res.setHeader('Access-Control-Allow-Origin', req.get('origin'));
    //res.header("Access-Control-Allow-Headers", "Origin, X-Requested-With, Content-Type, Accept");
    //res.header("Access-Control-Allow-Headers", "Authorization,Accept,Origin,DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Content-Range,Range");
    //res.header('Access-Control-Allow-Methods', 'GET,POST,OPTIONS,PUT,DELETE,PATCH');
    next();
});*/

// RabbitMQ test from NodeJS - 100% working
var amqp = require('amqplib/callback_api');
var rabbitmq = {};
amqp.connect('amqp://{{ rabbitmq_config.user }}:{{ rabbitmq_config.password }}@{{ rabbitmq_config.host }}:{{ rabbitmq_config.port }}', function(err, conn) {
    conn.createChannel(function(err, ch) {
        rabbitmq.channel = ch;
        rabbitmq.channel.assertExchange('{{ rabbitmq_config.exchange }}', 'direct', {
            autoDelete : false,
            durable: true
        }, function(err, ok){});

        var aQueues = {
            store_message: '{{ bundle_config.rabbitmq_settings.queue_prefix }}chat_store_message'
        };
        rabbitmq.q = {};
        for(var q in aQueues)
        {
            rabbitmq.q[q] = aQueues[q];
            rabbitmq.channel.assertQueue(rabbitmq.q[q], {
                autoDelete : false,
                durable: true
            });
        }

        // Consumer
        //console.log(" [*] Waiting for messages in %s. To exit press CTRL+C", q);
        //ch.consume(q, function(msg) {
        //    console.log(" [x] Received %s", msg.content.toString());
        //}, {noAck: false});//
    });
});

var XLChat = {};
XLChat.onlineUsers = {};
XLChat.sockets = {};

function getOnlineUsers(callback) {
    callback({
        'online_user_ids': Object.keys(XLChat.onlineUsers),
        'total_online_users': Object.keys(XLChat.onlineUsers).length
    });
}
app.get('/get_online_users', function (req, res) {
    getOnlineUsers(function(data) {
        res.setHeader('Content-Type', 'application/json');
        res.json(data);
    });
});

// Get list of all users
/*var con = mysql.createConnection({
    host: "{{ getParam('database_host') }}",
    user: "{{ getParam('database_user') }}",
    password: "{{ getParam('database_password') }}",
    database: "{{ getParam('database_name') }}"
});
con.connect(function(err) {
    if (err) throw err;
    con.query("SELECT id, username, username_canonical FROM cms_user", function (err, results, fields) {
        if (err) throw err;
        for(var i=0; i<results.length; i++)
        {
            XLChat.onlineUsers[results[i].id] = {
                id: results[i].id,
                username: results[i].username,
                avatar: '',
                status: 'offline'
            }
        }
    });
});*/

io.on('connection', function(socket){
    socket.on('disconnect', function(reason){
        if(socket.user_id in XLChat.onlineUsers)
        {
            // instead of delete, update his status
            XLChat.onlineUsers[socket.user_id].status = 'offline';
            var XLChat_user = XLChat.onlineUsers[socket.user_id];

            var user_status = {};
            user_status[socket.user_id] = false;

            if(XLChat_user.id in XLChat.sockets)
            {
                XLChat.sockets[XLChat_user.id] = XLChat.sockets[XLChat_user.id].filter(function(socket_id) {
                    return socket_id != socket.id
                });
            }
            if(!XLChat.sockets[XLChat_user.id].length)
            {
                delete XLChat.onlineUsers[socket.user_id];

                socket.broadcast.emit('check_user_status', user_status);
                /*socket.broadcast.emit('check_user_status', {
                    user_id: socket.user_id,
                    is_online: false
                });*/
                socket.broadcast.emit('logout', XLChat_user);
                console.log(XLChat_user.username + ' logged out');
            }
        }
    });

    socket.on('login', function(XLChat_user){
        XLChat_user.socket = socket.id;
        XLChat_user.status = 'online';
        XLChat.onlineUsers[XLChat_user.id] = XLChat_user;
        socket.user_id = XLChat_user.id;

        var user_status = {};
        user_status[socket.user_id] = true;
        socket.broadcast.emit('check_user_status', user_status);
        /*socket.broadcast.emit('check_user_status', {
            user_id: XLChat_user.id,
            is_online: true
        });*/
        socket.broadcast.emit('login', XLChat_user);
        console.log(XLChat_user.username + ' logged in');

        if(!(XLChat_user.id in XLChat.sockets))
        {
            XLChat.sockets[XLChat_user.id] = [];
        }

        // Check first socked created (very first login)
        if(!XLChat.sockets[XLChat_user.id].length)
        {
            socket.broadcast.emit('first_login', XLChat_user);
        }

        XLChat.sockets[XLChat_user.id].push(socket.id);

        //getTotalOnlineUsers();
    });

    socket.on('message', function(XLC_message){
        // replace "<" and ">" with the html symbols so scripts won't run
        if(!XLC_message.body.substring(0, 5) in ['<img ', '<a '])
        {
            XLC_message.body = XLC_message.body.replace(/</g,"&lt;").replace(/>/g,"&gt;");
        }
        var participants = XLC_message.participants.split(','); // all participants, including sender
        for(var i in participants)
        {
            if(participants[i] in XLChat.onlineUsers)
            {
                XLC_message.author = XLChat.onlineUsers[XLC_message.sender_id];
                XLC_message.destinatary_id = participants[i];
                //io.to(XLChat.onlineUsers[participants[i]]['socket']).emit('message', XLC_message);

                for(var j in XLChat.sockets[participants[i]])
                {
                    io.to(XLChat.sockets[participants[i]][j]).emit('message', XLC_message);
                }

                //socket.broadcast.to(message.room_id).emit('message', message);

                // Store message (shouldn´t be here if using rabbitmq)
                //_redis.storeMessage(message);
            }
        }

        // Append to RabbitMQ for storage (even if destinatary not online)
        if(Object.keys(rabbitmq).length === 0 && rabbitmq.constructor === Object)
        {

        } else {
            // Note: on Node 6 Buffer.from(msg) should be used
            rabbitmq.channel.sendToQueue(rabbitmq.q['store_message'], new Buffer(JSON.stringify(XLC_message)));
            //console.log(" [x] Sent '" + message.body + "'");
        }
    });

    // User status
    /*socket.on('check_user_status', function(XLChat_user, user_id){
        if(XLChat_user.id in XLChat.onlineUsers)
        {
            io.to(XLChat.onlineUsers[XLChat_user.id]['socket']).emit('check_user_status', {
                user_id: user_id,
                is_online: (user_id in XLChat.onlineUsers)
            });
        }
    });*/
    socket.on('check_user_status', function(XLChat_user, aUser_ids){
        var aResults = {};
        for(var i in aUser_ids)
        {
            aResults[aUser_ids[i]] = (aUser_ids[i] in XLChat.onlineUsers);
        }
        if(XLChat_user.id in XLChat.onlineUsers)
        {
            io.to(XLChat.onlineUsers[XLChat_user.id]['socket']).emit('check_user_status', aResults);
        }
    });

    // Typing status
    socket.on('isTyping', function(conversation_id, destinatary_id){
        /*if(destinatary_id in XLChat.onlineUsers)
        {
            io.to(XLChat.onlineUsers[destinatary_id]['socket']).emit('isTyping', {
                conversation_id: conversation_id,
                destinatary_id: destinatary_id
            });
        }*/
        if(destinatary_id in XLChat.sockets)
        {
            for(var i in XLChat.sockets[destinatary_id])
            {
                io.to(XLChat.sockets[destinatary_id][i]).emit('isTyping', {
                    conversation_id: conversation_id,
                    destinatary_id: destinatary_id
                });
            }
        }
    });
    socket.on('stopTyping', function(conversation_id, destinatary_id){
        /*if(destinatary_id in XLChat.onlineUsers)
        {
            io.to(XLChat.onlineUsers[destinatary_id]['socket']).emit('stopTyping', {
                conversation_id: conversation_id,
                destinatary_id: destinatary_id
            });
        }*/
        if(destinatary_id in XLChat.sockets)
        {
            for(var i in XLChat.sockets[destinatary_id])
            {
                io.to(XLChat.sockets[destinatary_id][i]).emit('stopTyping', {
                    conversation_id: conversation_id,
                    destinatary_id: destinatary_id
                });
            }
        }
    });

    socket.on('mark_conversation_as_read', function(conversation_id, XLChat_user, total_messages_marked){
        if(XLChat_user.id in XLChat.sockets)
        {
            for(var i in XLChat.sockets[XLChat_user.id])
            {
                io.to(XLChat.sockets[XLChat_user.id][i]).emit('mark_conversation_as_read', {
                    conversation_id: conversation_id,
                    total_messages_marked: total_messages_marked
                });
            }
        }
    });

    // Idle status
    /*socket.on('status idle', function(XLChat_user){
        if(XLChat_user.id in XLChat.onlineUsers)
        {
            XLChat.onlineUsers[XLChat_user.id].status = 'idle';
            io.emit('status idle', XLChat.onlineUsers[XLChat_user.id]);
        }
    });
    socket.on('status online', function(XLChat_user){
        if(XLChat_user.id in XLChat.onlineUsers)
        {
            XLChat.onlineUsers[XLChat_user.id].status = 'online';
            io.emit('status online', XLChat.onlineUsers[XLChat_user.id]);
        }
    });
    socket.on('status offline', function(XLChat_user){
        if(XLChat_user.id in XLChat.onlineUsers)
        {
            XLChat.onlineUsers[XLChat_user.id].status = 'offline';
            io.emit('status offline', XLChat.onlineUsers[XLChat_user.id]);
        }
    });*/

    socket.on('notification', function(data){
        if(data.destinatary_id)
        {
            if(data.destinatary_id in XLChat.onlineUsers)
            {
                io.to(XLChat.onlineUsers[data.destinatary_id]['socket']).emit('notification', data);
            }
        } else {
            io.sockets.emit('notification', data);
        }
    });

    socket.on('play_sound', function(data){
        if(data.destinatary_id)
        {
            if(data.destinatary_id in XLChat.onlineUsers)
            {
                io.to(XLChat.onlineUsers[data.destinatary_id]['socket']).emit('play_sound', data);
            }
        } else {
            io.sockets.emit('play_sound', data);
        }
    });

    socket.on('speak_text', function(data){
        if(data.destinatary_id)
        {
            if(data.destinatary_id in XLChat.onlineUsers)
            {
                io.to(XLChat.onlineUsers[data.destinatary_id]['socket']).emit('speak_text', data);
            }
        } else {
            io.sockets.emit('speak_text', data);
        }
    });

    socket.on('custom_message', function(data){
        if(data.destinatary_id)
        {
            if(data.destinatary_id in XLChat.onlineUsers)
            {
                io.to(XLChat.onlineUsers[data.destinatary_id]['socket']).emit('custom_message', data);
            }
        } else {
            io.sockets.emit('custom_message', data);
        }
    });

    // REDIS OPERATIONS
    /*socket.on('get_conversations', function(XLChat_user){
        //var conversations = [];
        _redis.getConversations(XLChat_user.id).then(function(result) {
            var conversation_ids = result.conversation_ids;
            for(var i in conversation_ids)
            {
                _redis.getConversationMessages(conversation_ids[i]).then(function(_result) {
                    var message_ids = _result.message_ids;
                    for(var j in message_ids)
                    {
                        //_redis.getMessage(message_ids[j]).then(function(__result) {
                        //    var message = ___result.message;
                        //    //conversations[i].push(message);
                        //    //console.log('Message OBJ: ' + message);
                        //}).catch(function(err){
                        //    console.log('Error retrieving message data: ', err);
                        //});
                    }
                }).catch(function(err){
                    console.log('Error retrieving message ids: ', err);
                });
            }
            socket.emit('get_conversations', conversation_ids);
        }).catch(function(err){
            console.log('Error retrieving conversation ids: ', err);
        });
    });*/

    function getTotalOnlineUsers()
    {
        var srvSockets = io.sockets.sockets;
        console.log('Total users: ' + Object.keys(srvSockets).length);
    }
});

instance.listen(3026, function(){
    // echo is not allowed when instantiated from PHP
    console.log('Chat Server listening on port 3026');
});

/*
// sending to sender-client only
socket.emit('message', "this is a test");

// sending to all clients, include sender
io.emit('message', "this is a test");

// sending to all clients except sender
socket.broadcast.emit('message', "this is a test");

// sending to all clients in 'game' room(channel) except sender
socket.broadcast.to('game').emit('message', 'nice game');

// sending to all clients in 'game' room(channel), include sender
io.in('game').emit('message', 'cool game');

// sending to sender client, only if they are in 'game' room(channel)
socket.to('game').emit('message', 'enjoy the game');

// sending to all clients in namespace 'myNamespace', include sender
io.of('myNamespace').emit('message', 'gg');

// sending to individual socketid
socket.broadcast.to(socketid).emit('message', 'for your eyes only');
*/

// REDIS OPERATIONS
/*var redis = require('redis');
var _REDIS = _REDIS || (function(){
    var _this;
    return {
        _this: this,
        client: false,
        namespace: '{{ bundle_config.redis_settings._key_namespace | raw }}',
        encode_md5: function(string) {
            return crypto.createHash('md5').update(string).digest('hex');
        },
        init: function() {
            this.client = redis.createClient({{ bundle_config.redis_settings.port | raw }}, '{{ bundle_config.redis_settings.host | raw }}');
            this.client.select({{ bundle_config.redis_settings.database_id }}, function() {
                //console.log('Redis db selected');
            });
            this.client.on('connect', function() {
                console.log('Redis connected and ready');
            });
            _this = this;
        },
        getConversations: function(user_id) {
            return new Promise(function(resolve, reject) {
                console.log('Retrieving conversations for user ' + user_id);
                var key = _this.namespace + ':users:' + user_id + ':conversations';
                var offset = 0;
                var last_item = -1;
                _this.client.zrevrange(key, offset, last_item, 'withscores', function(err, response) {
                    if (err) {
                        reject(err);
                    } else {
                        var conversation_ids = _.groupBy(response, function(a, b) {
                            return Math.floor(b/2);
                        });
                        conversation_ids = _.toArray(conversation_ids);
                        conversation_ids = conversation_ids.map(function(val){
                            return val[0];
                        });
                        resolve({
                            user_id: user_id,
                            conversation_ids: conversation_ids
                        });
                        console.log('Conversations for user ' + user_id + ' retrieved successfully.');
                    }
                });
            });
        },
        getConversationMessages: function(conversation_id) {
            return new Promise(function(resolve, reject) {
                console.log('Retrieving messages for conversation ' + conversation_id);
                var key = _this.namespace + ':conversations:' + conversation_id + ':messages';
                var offset = 0;
                var last_item = -1;
                _this.client.zrevrange(key, offset, last_item, function(err, message_ids) {
                    if (err) {
                        reject(err);
                    } else {
                        resolve({
                            conversation_id: conversation_id,
                            message_ids: message_ids
                        });
                        console.log('Messages for conversation ' + conversation_id + ' retrieved successfully.');
                    }
                });
            });
        },
        getMessage: function() {
            return new Promise(function(resolve, reject) {
                console.log('Retrieving message ' + message_id);
                var key = _this.namespace + ':messages:' + message_id;
                _this.client.hgetall(key, function(err, message) {
                    if(err) {
                        reject(err);
                    } else {
                        resolve({
                            message_id: message_id,
                            message: message
                        });
                        console.log('Message ' + message_id + ' retrieved successfully.');
                    }
                });
            });
        },
        createRoom: function(user_id, room_id) {
            var score = Math.floor(Date.now() / 1000);
            var key = this.namespace + ':users:' + user_id + ':rooms';
            console.log(this.keyExists(key));
            //this.client.zadd(key, score, room_id);
        },
        getRooms: function(user_id) {
            var score = Math.floor(Date.now() / 1000);
            //this.client.zadd('{{ bundle_config.redis_settings._key_namespace }}:users:' + XLChat.user.id + ':rooms', array($liked_id => $score));
        },
        keyExists: function(key) {
            return this.client.exists(key, function(err, reply) {
                if (reply === 1) {
                    //console.log('exists');
                    return true;
                } else {
                    //console.log('doesn\'t exist');
                    return false;
                }
            });
        },
        storeMessage: function(message) {
            // Save message
            var score = Math.floor(Date.now() / 1000);
            var key = this.namespace + ':messages';
            var message_id = this.encode_md5(JSON.stringify(message));
            this.client.hmset(key + ':' + message_id, message);
            // since we can only expire keys, the message_id in the zadd would need to be removed manually when checking if the item exists
            this.client.expireat(key, parseInt(score + 300));

            // Add message to conversation
            key = this.namespace + ':conversations:' + message.conversation_id + ':messages';
            this.client.zadd(key, score, message_id, function(err, reply) {
                if(err)
                {
                    console.log("error");
                } else {
                    console.log(reply);
                }
            });

            // Add/update conversation for users
            key = this.namespace + ':users:' + message.sender_id + ':conversations';
            this.client.zadd(key, score, message.conversation_id, function(err, reply) {
                if(err)
                {
                    console.log("error");
                } else {
                    console.log(reply);
                }
            });
            key = this.namespace + ':users:' + message.destinatary_id + ':conversations';
            this.client.zadd(key, score, message.conversation_id, function(err, reply) {
                if(err)
                {
                    console.log("error");
                } else {
                    console.log(reply);
                }
            });
        }
    };
});

var _redis = new _REDIS();
_redis.init();*/