<li id="" class="gqOnlineUser sample" data-participants="" data-conversation="" data-loaded="false" data-user="" data-group="">
    <svg version="1.1" class="gqUserIcon" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
        <path fill="#939393" d="M39.992,33.117c-0.878-5.146-2.269-8.38-6.583-9.83c1.573-1.809,2.518-4.139,2.518-6.678
            c0-5.778-4.902-10.48-10.927-10.48c-6.025,0-10.928,4.702-10.928,10.48c0,2.536,0.946,4.866,2.517,6.68
            c-4.314,1.448-5.706,4.687-6.582,9.828c-0.613,3.59-0.104,6.328,1.517,8.165c1.521,1.717,3.978,2.588,7.301,2.588h12.349
            c3.322,0,5.78-0.871,7.298-2.588C40.096,39.455,40.608,36.707,39.992,33.117z M25,8.007c4.946,0,8.969,3.858,8.969,8.603
            c0,4.742-4.022,8.603-8.969,8.603c-4.946,0-8.971-3.86-8.971-8.603C16.029,11.865,20.054,8.007,25,8.007z M36.982,40.071
            c-1.129,1.272-3.085,1.923-5.809,1.923H18.827c-2.726,0-4.681-0.65-5.811-1.923c-1.232-1.392-1.594-3.632-1.079-6.649
            c0.951-5.579,2.487-7.717,6.277-8.615c1.865,1.423,4.222,2.282,6.786,2.282c2.565,0,4.92-0.859,6.785-2.286
            c3.792,0.898,5.321,3.033,6.277,8.616C38.578,36.445,38.215,38.68,36.982,40.071z">
        </path>
    </svg>
    <img class="gqUserIcon" src="" />
    <div class="gqStatus">
        <span class="gqOnline"></span>
        <span class="gqOffline"></span>
    </div>
    <div class="gqUserMeta">
        <span class="gqUserTitle"></span>
        <span class="gqUserUnreadMessages"><span>0</span></span>
        <div class="gqUserFeed">
            <span class="gqUserTyping" style="display: none;">... is typing</span>
            <span class="gqLastMessage gqText" style="display: none;"></span>
            <div class="gqLastMessage gqImage" style="display: none;">
                <svg version="1.1" class="gqIcon" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="200px" height="200px" viewBox="0 0 200 200" enable-background="new 0 0 200 200" xml:space="preserve">
                    <path fill="#939393" d="M146.661,56.928H53.337c-5.947,0-10.768,4.82-10.768,10.768v64.61c0,5.947,4.821,10.768,10.768,10.768
                    h93.324c5.948,0,10.769-4.82,10.769-10.768v-64.61C157.43,61.749,152.609,56.928,146.661,56.928z M145.315,132.306H54.684
                    c-0.744,0-1.346-0.603-1.346-1.347V69.042c0-0.744,0.603-1.347,1.346-1.347h90.632c0.743,0,1.346,0.603,1.346,1.347v61.917
                    C146.661,131.703,146.059,132.306,145.315,132.306z M71.284,76.669c-4.956,0-8.973,4.018-8.973,8.974s4.018,8.974,8.973,8.974
                    c4.956,0,8.974-4.018,8.974-8.974S76.24,76.669,71.284,76.669z M64.105,121.537h71.788v-17.946l-19.633-19.633
                    c-1.052-1.052-2.756-1.052-3.808,0L85.642,110.77l-8.865-8.865c-1.051-1.051-2.756-1.051-3.807,0l-8.865,8.865V121.537z"></path>
                </svg>
                <span class="gqIconType">New image</span>
            </div>
            <div class="gqLastMessage gqLink" style="display: none;">
                <svg version="1.1" class="gqIcon" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="200px" height="200px" viewBox="0 0 200 200" enable-background="new 0 0 200 200" xml:space="preserve">
                    <path fill="#939393" d="M116.619,83.381c14.062,14.077,13.868,36.646,0.085,50.505c-0.026,0.028-0.057,0.06-0.085,0.088
                    l-15.816,15.815c-13.949,13.95-36.645,13.948-50.592,0c-13.95-13.947-13.95-36.646,0-50.592l8.733-8.733
                    c2.316-2.316,6.304-0.777,6.424,2.496c0.151,4.171,0.9,8.362,2.28,12.409c0.467,1.37,0.133,2.887-0.891,3.91l-3.08,3.08
                    c-6.597,6.596-6.803,17.336-0.272,23.997c6.595,6.727,17.437,6.767,24.083,0.12l15.816-15.814c6.635-6.635,6.606-17.358,0-23.966
                    c-0.872-0.869-1.748-1.545-2.435-2.017c-0.982-0.675-1.589-1.775-1.635-2.967c-0.093-2.487,0.789-5.05,2.754-7.015l4.954-4.956
                    c1.301-1.299,3.339-1.458,4.845-0.407C113.514,80.539,115.131,81.893,116.619,83.381z M149.79,50.209
                    c-13.949-13.948-36.644-13.95-50.593,0L83.381,66.025c-0.028,0.028-0.059,0.059-0.085,0.087
                    c-13.784,13.861-13.978,36.429,0.085,50.506c1.487,1.487,3.104,2.842,4.83,4.047c1.506,1.052,3.545,0.892,4.845-0.407l4.955-4.955
                    c1.966-1.966,2.847-4.528,2.753-7.016c-0.046-1.191-0.651-2.292-1.634-2.967c-0.687-0.472-1.563-1.147-2.435-2.018
                    c-6.607-6.607-6.635-17.332,0-23.966l15.815-15.814c6.646-6.646,17.487-6.606,24.083,0.12c6.531,6.661,6.325,17.401-0.271,23.997
                    l-3.08,3.08c-1.023,1.024-1.357,2.54-0.891,3.91c1.381,4.046,2.129,8.237,2.28,12.408c0.12,3.273,4.108,4.813,6.425,2.497
                    l8.732-8.734C163.739,86.855,163.739,64.157,149.79,50.209L149.79,50.209z"></path>
                </svg>
                <span class="gqIconType">New link</span>
            </div>
        </div>
        <div class="gqBorder"></div>
    </div>
</li>