<div class="gqWhisperContainer sample" style="display:none;" id="">
    <div class="gqScroll">
        <div class="gqWhisperContent" id="messagesGoHere">
            {#<a id="show_older" class="gqShowMore">Show older</a>#}
            <button id="show_older" class="gqShowMore">Show older</button>
            {% include 'XLabsChatBundle:Client/item:message.html.twig' with {
                'render': 'concatenate'
            } %}
            {% include 'XLabsChatBundle:Client/item:message.html.twig' with {
                'render': 'standard'
            } %}
            <a name="bottom"></a>
        </div>
    </div>
    <div class="gqTop">
        <div class="gqMedia">
            <svg version="1.1" class="gqUserAvatar" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                <path fill="#939393" d="M39.992,33.117c-0.878-5.146-2.269-8.38-6.583-9.83c1.573-1.809,2.518-4.139,2.518-6.678
                    c0-5.778-4.902-10.48-10.927-10.48c-6.025,0-10.928,4.702-10.928,10.48c0,2.536,0.946,4.866,2.517,6.68
                    c-4.314,1.448-5.706,4.687-6.582,9.828c-0.613,3.59-0.104,6.328,1.517,8.165c1.521,1.717,3.978,2.588,7.301,2.588h12.349
                    c3.322,0,5.78-0.871,7.298-2.588C40.096,39.455,40.608,36.707,39.992,33.117z M25,8.007c4.946,0,8.969,3.858,8.969,8.603
                    c0,4.742-4.022,8.603-8.969,8.603c-4.946,0-8.971-3.86-8.971-8.603C16.029,11.865,20.054,8.007,25,8.007z M36.982,40.071
                    c-1.129,1.272-3.085,1.923-5.809,1.923H18.827c-2.726,0-4.681-0.65-5.811-1.923c-1.232-1.392-1.594-3.632-1.079-6.649
                    c0.951-5.579,2.487-7.717,6.277-8.615c1.865,1.423,4.222,2.282,6.786,2.282c2.565,0,4.92-0.859,6.785-2.286
                    c3.792,0.898,5.321,3.033,6.277,8.616C38.578,36.445,38.215,38.68,36.982,40.071z">
                </path>
            </svg>
            <img class="gqUserAvatar" src="" />
            <div class="gqStatus" id="status">
                <span id="online" class="gqOnline" style="display: none;"></span>
                <span id="offline" class="gqOffline" style="display: none;"></span>
            </div>
            <div class="gqIsTyping">
                <span class="gqTypingCircle"></span>
                <span class="gqTypingCircle"></span>
                <span class="gqTypingCircle"></span>
            </div>
        </div>
        <div class="gqMeta">
            <span id="otherUser" class="gqUsername"></span>
            {# LINKS GO HERE #}
            {#<a class="gqLink" href="">test link</a>#}
        </div>
        <div class="gqOptions">
            {#% if isMMAdmin() %}
                <a id="ban_user" class="gqReport">Ban</a>
                <a id="unban_user" class="gqReport">Remove ban</a>
            {% endif %#}
            <a id="report_user" class="gqReport">Report</a>
            <a id="block_user" class="gqBlockUnblock">Block</a>
            <a id="unblock_user" class="gqBlockUnblock">Unblock</a>
            <svg version="1.1" class="gqUserBackMobile" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="200px" height="200px" viewBox="0 0 200 200" enable-background="new 0 0 200 200" xml:space="preserve">
                <g>
                    <path fill="#939393" d="M109.68,138.026l-27.5-26.371h66.509c4.845,0,8.741-3.896,8.741-8.741v-5.828
                    c0-4.844-3.896-8.742-8.741-8.742H82.18l27.5-26.37c3.533-3.388,3.605-9.033,0.146-12.493l-4.007-3.97
                    c-3.424-3.424-8.96-3.424-12.348,0L45.138,93.808c-3.424,3.424-3.424,8.961,0,12.348l48.333,48.334
                    c3.424,3.424,8.961,3.424,12.348,0l4.007-3.97C113.285,147.059,113.213,141.413,109.68,138.026z"></path>
                </g>
            </svg>
        </div>
    </div>
    <form id="submitMessage" class="gqInputMessageForm" action="">
        <div class="gqUploadProgress"></div>
        <input class="gqInputMessage" type="text" id="inputMessage" autocomplete="off" placeholder="Enter message" maxlength="500" />
        <div class="gqUserActions gqLeftSide">
            {# ATACHMENT ICON #}
            <a id="send_image" class="gqIconLink">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve" class="gqIcon">
                    <g>
                        <path fill="#939393" d="M17.678,43.855c-1.974,0-3.946-0.75-5.448-2.252c-1.457-1.456-2.258-3.394-2.258-5.452
                            c0-2.058,0.802-3.994,2.258-5.449l15.057-15.11c1.688-1.689,4.434-1.688,6.119-0.001c0.819,0.817,1.269,1.904,1.269,3.059
                            c0,1.156-0.449,2.243-1.269,3.06L18.351,36.818c-0.369,0.371-0.968,0.373-1.338,0.002c-0.37-0.367-0.371-0.965-0.002-1.337
                            l15.058-15.11c0.462-0.46,0.715-1.072,0.715-1.723c0-0.65-0.253-1.262-0.714-1.722c-0.949-0.949-2.494-0.948-3.444,0l-15.056,15.11
                            c-1.101,1.101-1.706,2.561-1.706,4.113s0.605,3.016,1.705,4.113c2.267,2.269,5.956,2.268,8.225-0.002l16.49-16.49
                            c1.744-1.744,2.704-4.062,2.704-6.528c0-2.466-0.96-4.786-2.704-6.53C36.54,8.971,34.222,8.01,31.755,8.01
                            s-4.787,0.961-6.531,2.705l-16.49,16.49c-0.369,0.37-0.967,0.37-1.337,0c-0.37-0.37-0.37-0.968,0-1.338l16.49-16.49
                            c2.101-2.101,4.896-3.258,7.868-3.258s5.766,1.158,7.865,3.258c2.103,2.102,3.261,4.896,3.261,7.868
                            c0,2.971-1.158,5.765-3.261,7.866l-16.49,16.49C21.627,43.104,19.652,43.855,17.678,43.855z">
                        </path>
                    </g>
                </svg>
            </a>
            <input type="file" id="send_image_input" accept="{{ '.' ~ config.uploads.allowed_extensions | join(', .') }}" style="position:absolute;z-index:-100;width: 0; height: 0; opacity: 0;" />
            {# EMOJI ICON #}
            <a id="emoji_select" class="gqIconLink">
                <svg class="gqIcon gqEmoji" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                    <g>
                        <path fill="#939393" d="M25,8.13c9.302,0,16.869,7.568,16.869,16.87c0,9.302-7.567,16.87-16.869,16.87S8.131,34.302,8.131,25
                        C8.131,15.698,15.698,8.13,25,8.13 M25,6.13C14.578,6.13,6.131,14.577,6.131,25S14.574,43.87,25,43.87
                        c10.42,0,18.869-8.445,18.869-18.87C43.869,14.577,35.42,6.13,25,6.13L25,6.13z"></path>
                        <g>
                            <circle fill="#939393" cx="16.746" cy="20.874" r="3.155"></circle>
                            <circle fill="#939393" cx="33.254" cy="20.874" r="3.155"></circle>
                        </g>
                        <path fill="#939393" d="M34.264,29.473c-0.264-0.436-0.736-0.7-1.246-0.7H16.982c-0.51,0-0.982,0.265-1.246,0.7
                        c-0.268,0.433-0.285,0.979-0.047,1.429c1.834,3.512,5.398,5.691,9.311,5.691s7.477-2.18,9.311-5.691
                        C34.543,30.452,34.531,29.911,34.264,29.473z"></path>
                    </g>
                </svg>
            </a>
        </div>
        <div class="gqUserActions gqRightSide">
            {# TEXT TO SPEECH ICON #}
            <a id="speech_recognition" class="gqIconLink">
                <svg class="gqIcon" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                    <g>
                        <path fill="#939393" d="M35.959,27.353c0-0.538-0.437-0.974-0.975-0.974s-0.974,0.436-0.974,0.974c0,4.968-4.043,9.011-9.011,9.011
                            s-9.011-4.043-9.011-9.011c0-0.538-0.436-0.974-0.974-0.974s-0.975,0.436-0.975,0.974c0,5.714,4.397,10.414,9.984,10.909v4.634
                            c0,0.539,0.437,0.975,0.975,0.975s0.975-0.436,0.975-0.975v-4.634C31.562,37.767,35.959,33.066,35.959,27.353z">
                        </path>
                        <path fill="#939393" d="M25,32.363c3.271,0,5.924-2.653,5.924-5.924V12.053c0-3.271-2.652-5.923-5.924-5.923
                            s-5.924,2.652-5.924,5.923v14.386C19.076,29.71,21.729,32.363,25,32.363z">
                        </path>
                    </g>
                </svg>
            </a>
            {# SUMBIT ICON #}
            <a class="gqIconLink gqSubmit">
                <svg class="gqIcon" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                    <g>
                        <path fill="#939393" d="M19.85,39.067c-0.658,0-1.304-0.163-1.868-0.473c-1.268-0.674-2.062-2.001-2.062-3.457V14.863
                            c0-1.446,0.792-2.771,2.068-3.458c1.221-0.671,2.838-0.609,4.032,0.18l15.298,10.141c1.104,0.733,1.764,1.956,1.764,3.271
                            c0,1.32-0.659,2.547-1.762,3.281l-15.3,10.136C21.396,38.839,20.642,39.067,19.85,39.067z M19.85,12.933
                            c-0.319,0-0.633,0.08-0.907,0.23c-0.634,0.341-1.023,0.991-1.023,1.701v20.274c0,0.715,0.387,1.365,1.011,1.697
                            c0.622,0.341,1.424,0.293,1.973-0.08l15.308-10.142c0.544-0.361,0.869-0.966,0.869-1.615c0-0.644-0.325-1.243-0.869-1.604
                            L20.915,13.253C20.598,13.043,20.229,12.933,19.85,12.933z">
                        </path>
                    </g>
                </svg>
            </a>

        </div>
    </form>
</div>