<div class="gqImageError sample">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="200px" height="200px" viewBox="0 0 200 200" enable-background="new 0 0 200 200" xml:space="preserve">
	<path fill="#939393" d="M166.246,141.171l-54.986-95.34c-2.348-4.068-6.558-6.497-11.263-6.497c-4.702,0-8.911,2.429-11.258,6.498L33.752,141.17
		c-2.346,4.066-2.342,8.924,0.01,12.996c2.35,4.07,6.556,6.5,11.25,6.5h109.973c4.695,0,8.902-2.432,11.254-6.504
		C168.59,150.093,168.592,145.235,166.246,141.171z M162.775,152.161c-1.629,2.821-4.541,4.505-7.79,4.505H45.012
		c-3.249,0-6.16-1.683-7.787-4.5c-1.629-2.82-1.632-6.184-0.009-8.997L92.204,47.83c1.624-2.815,4.538-4.496,7.793-4.496
		c3.259,0,6.174,1.681,7.798,4.496l54.986,95.34C164.404,145.982,164.402,149.344,162.775,152.161z"></path>
        <path fill="#939393" d="M96.362,113.998c0.069,0.494,0.492,0.862,0.991,0.862h5.563c0.503,0,0.928-0.373,0.992-0.872
		c0.331-2.561,0.603-4.979,0.808-7.188c0.205-2.209,0.31-4.518,0.31-6.862V78c0-0.552-0.447-1-1-1h-7.783c-0.552,0-1,0.448-1,1
		v21.938c0,2.262,0.098,4.567,0.29,6.854C95.729,109.02,96.008,111.442,96.362,113.998z"></path>
        <path fill="#939393" d="M104.489,123.974c-0.553-0.576-1.23-1.04-2.007-1.37c-0.764-0.332-1.601-0.501-2.482-0.501c-0.9,0-1.744,0.17-2.51,0.505
		c-0.746,0.327-1.416,0.784-1.991,1.359c-0.574,0.571-1.029,1.257-1.348,2.037c-0.319,0.77-0.481,1.6-0.481,2.466
		c0,0.892,0.163,1.731,0.484,2.496c0.317,0.759,0.77,1.436,1.345,2.01c0.573,0.573,1.248,1.026,2.005,1.344
		c0.765,0.319,1.604,0.481,2.496,0.481c0.873,0,1.705-0.161,2.474-0.479c0.781-0.318,1.464-0.777,2.023-1.362
		c0.555-0.565,1.005-1.233,1.331-1.978c0.334-0.765,0.503-1.608,0.503-2.512c0-0.878-0.168-1.713-0.5-2.482
		C105.503,125.224,105.051,124.546,104.489,123.974z"></path>
    </svg>
</div>