{% if render == 'standard' %}
    <div id="" class="gqChatMessage standard sample">
        {#
        <img src="https://cdn.static.3tech.xyz/media/bikinifanatics/angieftl40795700019/00fe06cb402cc70c19c3c38e27b1ef58.jpg" class="gqChatAvatar">
        <i class="fa fa-user-circle" style="width: 40px; height: 40px; font-size: 2.5em; display: inline-block; position: absolute; left: 20px; top: 10px;"></i>
        <div class="gqChatMeta">
            <span class="gqChatUsername"></span>
        </div>
         #}
        <div class="gqChatContent"></div>
        <span class="gqChatTime"></span>
    </div>
{% elseif render == 'concatenate' %}
    <div id="" class="gqChatMessage concatenated sample">
        <span class="gqChatContent"></span>
    </div>
{% endif %}