<svg version="1.1"  class="gqReconnect"  id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="300px" height="200px" viewBox="0 0 300 200" enable-background="new 0 0 300 200" xml:space="preserve">
	<g>
		<g>
			<g>
				<path fill="#939393" d="M197.687,137.983h-11.682c-1.937,0-3.62,1.318-4.094,3.207c-3.614,14.418-16.553,24.499-31.491,24.515
					c-7.661,0-14.979-2.663-20.803-7.535l7.178-7.181c1.942-1.941,2.496-4.726,1.445-7.263c-1.051-2.536-3.411-4.114-6.156-4.114
					h-27.328c-3.674,0-6.664,2.99-6.664,6.665v27.327c0,3.679,3.005,6.674,6.699,6.674c1.751,0,3.413-0.697,4.678-1.963l6.074-6.074
					c9.607,8.601,21.923,13.314,34.873,13.314c25.147,0,46.771-17.909,51.418-42.582c0.232-1.234-0.095-2.495-0.898-3.463
					C200.132,138.541,198.948,137.983,197.687,137.983z"></path>
				<path fill="#DDE3F1" d="M198.351,142.318c-4.331,22.999-24.49,39.693-47.934,39.693c-12.613,0-24.58-4.798-33.696-13.51
					l-1.253-1.197l-8.504,8.505c-0.764,0.764-1.603,0.925-2.172,0.925c-1.551,0-3.154-1.17-3.154-3.13v-27.327
					c0-1.719,1.399-3.119,3.119-3.119h27.328c1.305,0,2.382,0.72,2.881,1.926c0.5,1.205,0.247,2.477-0.677,3.399l-9.805,9.806
					l1.337,1.251c6.685,6.262,15.42,9.71,24.628,9.71c16.539-0.017,30.89-11.201,34.9-27.197c0.077-0.31,0.348-0.525,0.655-0.525
					h11.682c0.276,0,0.446,0.155,0.522,0.246C198.283,141.863,198.4,142.055,198.351,142.318z"></path>
			</g>
			<g>
				<path fill="#939393" d="M195.207,19.723c-1.752,0-3.413,0.695-4.677,1.962l-6.075,6.074
					c-9.605-8.601-21.922-13.314-34.872-13.314c-25.147,0-46.771,17.909-51.418,42.585c-0.231,1.233,0.096,2.494,0.898,3.461
					c0.806,0.971,1.991,1.527,3.25,1.527h11.681c1.937,0,3.62-1.318,4.094-3.205c3.615-14.422,16.554-24.503,31.495-24.517
					c7.659,0,14.974,2.664,20.8,7.536l-7.179,7.178c-1.942,1.943-2.496,4.727-1.445,7.264c1.052,2.537,3.411,4.114,6.158,4.114
					h27.325c3.675,0,6.665-2.99,6.665-6.665V26.396C201.907,22.716,198.9,19.723,195.207,19.723z"></path>
				<path fill="#DDE3F1" d="M198.362,53.723c0,1.72-1.399,3.12-3.119,3.12h-27.327c-1.306,0-2.383-0.72-2.883-1.925
					c-0.5-1.206-0.246-2.478,0.678-3.4l9.805-9.805l-1.338-1.252c-6.687-6.261-15.42-9.71-24.629-9.71
					c-16.539,0.015-30.89,11.199-34.898,27.198c-0.078,0.308-0.348,0.524-0.656,0.524h-11.681c-0.277,0-0.446-0.155-0.522-0.246
					c-0.075-0.091-0.192-0.28-0.143-0.543c4.332-23.002,24.491-39.695,47.935-39.695c12.612,0,24.579,4.798,33.695,13.51l1.253,1.197
					l8.506-8.506c0.763-0.763,1.601-0.923,2.17-0.923c1.55,0,3.155,1.17,3.155,3.129V53.723z"></path>
			</g>
		</g>
		<g>
			<path fill="#939393" d="M43.888,125.191h-7.311c-1.447,0-2.498-0.558-3.149-1.68l-11.756-16.969
				c-0.396-0.581-0.829-1.002-1.295-1.258c-0.467-0.256-1.165-0.388-2.099-0.388h-4.547v20.294H5.543V74.814h14.834
				c3.311,0,6.164,0.335,8.555,1.014c2.389,0.677,4.356,1.639,5.894,2.887c1.541,1.246,2.676,2.745,3.412,4.493
				c0.734,1.748,1.102,3.695,1.102,5.842c0,1.748-0.263,3.382-0.786,4.896c-0.523,1.521-1.284,2.894-2.275,4.13
				c-0.99,1.241-2.209,2.311-3.655,3.223c-1.446,0.905-3.089,1.617-4.931,2.129c1.001,0.609,1.865,1.458,2.587,2.557L43.888,125.191z
				 M20.169,98.952c1.865,0,3.496-0.227,4.897-0.682c1.398-0.457,2.566-1.09,3.5-1.91c0.931-0.813,1.631-1.788,2.098-2.92
				c0.467-1.128,0.701-2.381,0.701-3.759c0-2.75-0.911-4.852-2.73-6.297c-1.82-1.446-4.57-2.171-8.256-2.171h-6.646v17.738H20.169z"
				></path>
			<path fill="#939393" d="M81.427,118.581l-0.034,6.61H49.976V74.814h31.418v6.611H58.198v15.181h18.543v6.406H58.198v15.568H81.427
				z"></path>
			<path fill="#939393" d="M98.5,81.426v16.126h19.696v6.612H98.5v21.027h-8.223V74.814h31.417v6.611H98.5z"></path>
			<path fill="#939393" d="M168.191,125.191h-7.311c-1.447,0-2.497-0.558-3.149-1.68l-11.756-16.969
				c-0.396-0.581-0.829-1.002-1.296-1.258c-0.465-0.256-1.164-0.388-2.098-0.388h-4.546v20.294h-8.188V74.814h14.833
				c3.312,0,6.166,0.335,8.557,1.014c2.389,0.677,4.355,1.639,5.894,2.887c1.539,1.246,2.675,2.745,3.41,4.493
				c0.734,1.748,1.101,3.695,1.101,5.842c0,1.748-0.261,3.382-0.785,4.896c-0.523,1.521-1.283,2.894-2.274,4.13
				c-0.99,1.241-2.209,2.311-3.655,3.223c-1.447,0.905-3.09,1.617-4.932,2.129c1.002,0.609,1.865,1.458,2.588,2.557L168.191,125.191z
				 M144.472,98.952c1.866,0,3.497-0.227,4.898-0.682c1.396-0.457,2.564-1.09,3.498-1.91c0.932-0.813,1.632-1.788,2.099-2.92
				c0.467-1.128,0.7-2.381,0.7-3.759c0-2.75-0.912-4.852-2.729-6.297c-1.819-1.446-4.57-2.171-8.258-2.171h-6.644v17.738H144.472z"></path>
			<path fill="#939393" d="M205.731,118.581l-0.034,6.61h-31.419V74.814h31.419v6.611h-23.195v15.181h18.543v6.406h-18.543v15.568
				H205.731z"></path>
			<path fill="#939393" d="M240.927,83.418c-0.256,0.422-0.522,0.729-0.805,0.93c-0.278,0.199-0.63,0.296-1.048,0.296
				c-0.444,0-0.939-0.189-1.486-0.56c-0.55-0.376-1.225-0.785-2.03-1.24c-0.805-0.456-1.757-0.878-2.853-1.259
				c-1.097-0.388-2.4-0.581-3.918-0.581c-1.397,0-2.632,0.176-3.69,0.523c-1.061,0.354-1.952,0.844-2.676,1.47
				c-0.724,0.632-1.267,1.373-1.628,2.221c-0.362,0.854-0.54,1.782-0.54,2.785c0,1.281,0.337,2.351,1.012,3.2
				c0.679,0.854,1.569,1.582,2.677,2.186c1.107,0.609,2.374,1.14,3.798,1.595c1.422,0.455,2.874,0.939,4.354,1.452
				c1.483,0.512,2.933,1.094,4.356,1.748c1.423,0.656,2.688,1.481,3.795,2.483c1.107,1.003,2.002,2.227,2.68,3.673
				c0.674,1.446,1.013,3.206,1.013,5.284c0,2.238-0.384,4.339-1.156,6.297c-0.769,1.959-1.881,3.667-3.339,5.125
				c-1.458,1.459-3.254,2.608-5.387,3.445c-2.135,0.844-4.566,1.259-7.298,1.259c-1.608,0-3.177-0.154-4.702-0.473
				c-1.53-0.313-2.987-0.758-4.375-1.327c-1.39-0.569-2.688-1.264-3.899-2.084c-1.213-0.813-2.298-1.726-3.255-2.728l2.378-3.918
				c0.211-0.324,0.478-0.581,0.806-0.768c0.328-0.189,0.688-0.28,1.084-0.28c0.535,0,1.131,0.251,1.785,0.753
				c0.652,0.5,1.438,1.047,2.36,1.644c0.922,0.595,2.036,1.14,3.344,1.642c1.304,0.499,2.866,0.751,4.686,0.751
				c2.962,0,5.254-0.724,6.876-2.169c1.62-1.441,2.431-3.439,2.431-5.979c0-1.423-0.337-2.584-1.017-3.484
				c-0.674-0.896-1.567-1.646-2.676-2.255c-1.107-0.604-2.371-1.116-3.795-1.537c-1.423-0.423-2.866-0.872-4.339-1.35
				c-1.47-0.479-2.915-1.037-4.336-1.681c-1.424-0.638-2.69-1.48-3.796-2.518c-1.109-1.035-2.001-2.317-2.679-3.85
				c-0.676-1.524-1.013-3.434-1.013-5.717c0-1.822,0.354-3.581,1.066-5.284c0.713-1.703,1.749-3.21,3.114-4.532
				c1.364-1.315,3.051-2.368,5.055-3.166c2.008-0.791,4.291-1.19,6.859-1.19c2.889,0,5.542,0.457,7.957,1.367
				c2.414,0.91,4.496,2.203,6.247,3.884L240.927,83.418z"></path>
			<path fill="#939393" d="M294.457,74.814v50.377h-8.188v-22.423h-25.293v22.423h-8.225V74.814h8.225v22.036h25.293V74.814H294.457z
				"></path>
		</g>
	</g>
</svg>