<div class="svg-loader">

    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="20px" height="50px" viewBox="0 0 29 50" enable-background="new 0 0 29 50" xml:space="preserve">
        <path fill="#939393" d="M28.729,42.927v6.702H0.27V0.371h8.006v42.556H28.729z"></path>
    </svg>
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 80 80"  enable-background="new 0 0 27 27" xml:space="preserve">
        
        <path fill="#939393"
            d="M40, 72C22.4, 72, 8, 57.6, 8, 40C8,22.4,
            22.4,8,40,8c17.6,0,32,14.4,32,32c0,1.1-0.9,2-2,2
            s-2-0.9-2-2c0-15.4-12.6-28-28-28S12,24.6,12,40s12.6,
            28,28,28c1.1,0,2,0.9,2,2S41.1,72,40,72z"
        >
            <animateTransform
                attributeType="xml"
                attributeName="transform"
                type="rotate"
                from="0 40 40"
                to="360 40 40"
                dur="0.6s"
                repeatCount="indefinite">
            </animateTransform>
        </path>
    </svg>
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="120px" height="50px" viewBox="0 0 218 50" enable-background="new 0 0 218 50" xml:space="preserve">
            <path fill="#939393" d="M19.776,0.369L0.244,49.627h6.19c0.686,0,1.256-0.196,1.712-0.582c0.454-0.386,0.774-0.809,0.958-1.266
                l4.103-10.878h21.209l4.104,10.878c0.228,0.523,0.558,0.965,0.992,1.317c0.432,0.355,1.003,0.53,1.709,0.53h6.19L27.883,0.369
                H19.776z M15.398,31.152l6.772-17.956c0.25-0.683,0.523-1.475,0.821-2.377c0.295-0.898,0.567-1.885,0.821-2.959
                c0.568,2.144,1.127,3.911,1.675,5.303l6.773,17.989H15.398z"></path>
            <path fill="#939393" d="M89.606,7.212c-2.154-2.166-4.743-3.85-7.767-5.047c-3.022-1.197-6.379-1.796-10.073-1.796H53.159v49.258
                h18.607c3.694,0,7.051-0.598,10.073-1.795c3.023-1.198,5.612-2.879,7.767-5.048c2.151-2.166,3.824-4.759,5.011-7.782
                c1.184-3.019,1.777-6.357,1.777-10.003c0-3.649-0.594-6.983-1.777-10.008C93.431,11.972,91.758,9.377,89.606,7.212z M87.073,32.644
                c-0.764,2.247-1.857,4.15-3.282,5.712c-1.428,1.562-3.152,2.752-5.182,3.575c-2.032,0.819-4.313,1.231-6.843,1.231H61.198V6.836
                h10.568c2.529,0,4.811,0.415,6.843,1.247c2.029,0.832,3.754,2.024,5.182,3.574c1.425,1.553,2.519,3.455,3.282,5.712
                c0.765,2.258,1.146,4.802,1.146,7.63C88.22,27.852,87.838,30.396,87.073,32.644z"></path>
            <rect x="105.185" y="0.369" fill="#939393" width="8.041" height="49.258"></rect>
            <path fill="#939393" d="M158.683,32.491c0,0.594,0.019,1.228,0.052,1.914c0.034,0.687,0.086,1.38,0.152,2.085l-27.09-34.785
                c-0.204-0.275-0.397-0.503-0.583-0.685c-0.178-0.184-0.374-0.319-0.582-0.411c-0.2-0.09-0.423-0.153-0.664-0.187
                c-0.237-0.037-0.53-0.054-0.875-0.054h-4.173v49.258h7.051V17.232c0-0.545-0.022-1.144-0.056-1.795
                c-0.033-0.648-0.085-1.306-0.152-1.966l27.058,34.753c0.39,0.501,0.797,0.86,1.231,1.076c0.434,0.219,0.957,0.326,1.572,0.326
                h4.072V0.369h-7.014V32.491z"></path>
            <path fill="#939393" d="M201.989,25.375v4.55c0,0.456,0.145,0.827,0.444,1.108c0.294,0.286,0.705,0.431,1.229,0.431h6.876v9.78
                c-1.528,0.775-3.082,1.38-4.666,1.814c-1.587,0.434-3.394,0.648-5.422,0.648c-2.716,0-5.175-0.419-7.374-1.261
                c-2.203-0.846-4.076-2.073-5.626-3.68c-1.551-1.609-2.749-3.567-3.595-5.882c-0.842-2.314-1.261-4.944-1.261-7.886
                c0-2.783,0.396-5.303,1.194-7.561s1.939-4.178,3.423-5.765c1.48-1.584,3.265-2.803,5.353-3.658
                c2.084-0.857,4.429-1.283,7.028-1.283c1.71,0,3.193,0.12,4.447,0.359c1.254,0.24,2.359,0.546,3.315,0.924
                c0.957,0.376,1.807,0.78,2.552,1.214c0.738,0.435,1.443,0.844,2.1,1.23c0.664,0.412,1.279,0.548,1.851,0.412
                c0.571-0.137,1.039-0.489,1.402-1.06l2.292-3.661c-1.027-0.958-2.155-1.824-3.386-2.6c-1.231-0.774-2.578-1.437-4.036-1.985
                c-1.461-0.546-3.041-0.974-4.74-1.281c-1.698-0.309-3.538-0.461-5.522-0.461c-3.901,0-7.41,0.609-10.537,1.828
                c-3.123,1.22-5.79,2.943-8.004,5.167c-2.211,2.222-3.909,4.88-5.096,7.97c-1.188,3.09-1.78,6.491-1.78,10.21
                c0,3.694,0.615,7.081,1.851,10.159c1.231,3.078,2.985,5.727,5.267,7.952c2.277,2.226,5.033,3.957,8.26,5.2
                c3.227,1.242,6.836,1.865,10.826,1.865c6.502,0,12.199-1.77,17.103-5.304V25.375H201.989z"></path>

    </svg>

</div>