{% if conversation is defined %}
    <li id="" class="gqOnlineUser" data-user-id="" data-conversation-id="{{ conversation.conversation_id }}">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve" class="gqUserIcon">
            <path fill="#939393" d="M39.992,33.117c-0.878-5.146-2.269-8.38-6.583-9.83c1.573-1.809,2.518-4.139,2.518-6.678
                c0-5.778-4.902-10.48-10.927-10.48c-6.025,0-10.928,4.702-10.928,10.48c0,2.536,0.946,4.866,2.517,6.68
                c-4.314,1.448-5.706,4.687-6.582,9.828c-0.613,3.59-0.104,6.328,1.517,8.165c1.521,1.717,3.978,2.588,7.301,2.588h12.349
                c3.322,0,5.78-0.871,7.298-2.588C40.096,39.455,40.608,36.707,39.992,33.117z M25,8.007c4.946,0,8.969,3.858,8.969,8.603
                c0,4.742-4.022,8.603-8.969,8.603c-4.946,0-8.971-3.86-8.971-8.603C16.029,11.865,20.054,8.007,25,8.007z M36.982,40.071
                c-1.129,1.272-3.085,1.923-5.809,1.923H18.827c-2.726,0-4.681-0.65-5.811-1.923c-1.232-1.392-1.594-3.632-1.079-6.649
                c0.951-5.579,2.487-7.717,6.277-8.615c1.865,1.423,4.222,2.282,6.786,2.282c2.565,0,4.92-0.859,6.785-2.286
                c3.792,0.898,5.321,3.033,6.277,8.616C38.578,36.445,38.215,38.68,36.982,40.071z">
            </path>
        </svg>
        <span class="gqUserTitle">Restored conversation</span>
        (<span class="gqUserUnreadMessages">0</span> new messages)
        - <span class="gqUserStatus" style="font-style: italic;">unkown status</span>
        <p></p>
    </li>
{% else %}
    <li id="" class="gqOnlineUser sample" data-user-id="" data-conversation-id="">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve" class="gqUserIcon">
            <path fill="#939393" d="M39.992,33.117c-0.878-5.146-2.269-8.38-6.583-9.83c1.573-1.809,2.518-4.139,2.518-6.678
                c0-5.778-4.902-10.48-10.927-10.48c-6.025,0-10.928,4.702-10.928,10.48c0,2.536,0.946,4.866,2.517,6.68
                c-4.314,1.448-5.706,4.687-6.582,9.828c-0.613,3.59-0.104,6.328,1.517,8.165c1.521,1.717,3.978,2.588,7.301,2.588h12.349
                c3.322,0,5.78-0.871,7.298-2.588C40.096,39.455,40.608,36.707,39.992,33.117z M25,8.007c4.946,0,8.969,3.858,8.969,8.603
                c0,4.742-4.022,8.603-8.969,8.603c-4.946,0-8.971-3.86-8.971-8.603C16.029,11.865,20.054,8.007,25,8.007z M36.982,40.071
                c-1.129,1.272-3.085,1.923-5.809,1.923H18.827c-2.726,0-4.681-0.65-5.811-1.923c-1.232-1.392-1.594-3.632-1.079-6.649
                c0.951-5.579,2.487-7.717,6.277-8.615c1.865,1.423,4.222,2.282,6.786,2.282c2.565,0,4.92-0.859,6.785-2.286
                c3.792,0.898,5.321,3.033,6.277,8.616C38.578,36.445,38.215,38.68,36.982,40.071z">
            </path>
        </svg>
        <span class="gqUserTitle"></span>
        (<span class="gqUserUnreadMessages">0</span> new messages)
        - <span class="gqUserStatus" style="font-style: italic;"></span>
        <p></p>
    </li>
{% endif %}