<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="200px"
     height="200px" viewBox="0 0 200 200" enable-background="new 0 0 200 200" xml:space="preserve" class="gqWelcomeImage">
                                <g id="Background">
                                    <path fill="#DDE3F2" d="M39.76,137.642c-10.665-19.312-17.583-74.078,1.73-88.49C60.804,34.739,64.838,59.24,84.727,64.141
                                        c19.89,4.898,11.241-30.555,38.335-26.232c21.545,3.44-7.508,41.519,6.041,49.964c13.549,8.443,16.225-25.516,37.486-18.543
                                        c17.871,5.861,4.9,49.578-11.529,68.312H39.76z">
                                    </path>
                                </g>
    <g id="fill">
        <path fill="#FFFFFF" d="M56.039,122.458c0,2.252,1.825,4.078,4.077,4.078h79.914c2.252,0,4.078-1.826,4.078-4.078V76.849
                                        c0-2.254-1.826-4.078-4.078-4.078H60.116c-2.252,0-4.077,1.824-4.077,4.078V122.458z">
        </path>
        <path fill="#FFFFFF" d="M87.548,135.88c3.142,0,4.925-6.783,4.925-8.997h15.053c0,2.214,1.782,8.997,4.926,8.997H87.548z"></path>
        <path opacity="0.02" d="M108.784,89.063H91.216c-2.252,0-4.078,1.826-4.078,4.078v9.046c0,2.252,1.826,4.078,4.078,4.078h4.806
                                        l3.978,3.978l3.978-3.978h4.807c2.252,0,4.077-1.826,4.077-4.078v-9.046C112.861,90.89,111.036,89.063,108.784,89.063z">
        </path>
        <rect x="142.869" y="129.032" fill="#FFFFFF" width="17.074" height="3.809">
        </rect>
        <path fill="#B9DFC1" d="M153.039,111.908c-2.253,0-3.654,3.668-3.354,11.261c0.021,0.525,0.005,0.147,0.005,0.147
                                        c-0.36-0.659-0.824-0.983-1.361-0.983c-1.397,0-2.285,2.182-2.18,6.699l9.761-0.002
                                        C157.295,117.451,155.81,111.908,153.039,111.908z">
        </path>
        <polygon fill="#FFFFFF" points="159.173,132.841 157.467,144.272 145.346,144.272 143.64,132.841  ">
        </polygon>
    </g>
    <g id="Shadow">
        <path opacity="0.02" d="M90.25,126.883h49.706c2.252,0,4.078-1.826,4.078-4.078V77.195c0-2.254-1.826-4.078-4.078-4.078H127.75
                                        C127.75,81.5,126.25,126.883,90.25,126.883z">
        </path>
        <path opacity="0.02" d="M106.281,135.88c0-3.599-2.147-8.997-13.808-8.997c8.496,0,15.053,0,15.053,0l0.38,2.563l0.579,1.936
                                        l0.795,1.822l1.157,1.391l1.25,1.286H106.281z">
        </path>
        <path opacity="0.02" d="M154.375,132.841c0,4.576-3.457,11.432-6.541,11.432c4.583,0,9.633,0,9.633,0l1.706-11.432H154.375z">
        </path>
        <rect x="153.039" y="129.032" opacity="0.02" width="6.904" height="3.809">
        </rect>
        <path opacity="0.02" d="M152.078,112.161c2.505,4.756,1.708,15.567,0.461,16.87c3.169,0.001,3.465-0.826,3.465-0.826l0.487-8.913
                                        l-1.514-6.149l-1.938-1.234L152.078,112.161z">
        </path>
    </g>
    <g id="outline">
        <g>
            <g>
                <circle fill="#939393" cx="72.354" cy="78.223" r="1.135"></circle>
            </g>
            <g>
                <circle fill="#939393" cx="66.881" cy="78.223" r="1.133"></circle>
            </g>
            <g>
                <circle fill="#939393" cx="61.41" cy="78.223" r="1.135"></circle>
            </g>
        </g>
        <g>
            <g>
                <path fill="#939393" d="M73.283,83.827H59.914c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h13.369c0.276,0,0.5,0.224,0.5,0.5
                                                S73.56,83.827,73.283,83.827z">
                </path>
            </g>
            <g>
                <path fill="#939393" d="M80.625,83.827h-3.201c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h3.201c0.276,0,0.5,0.224,0.5,0.5
                                                S80.901,83.827,80.625,83.827z">
                </path>
            </g>
            <g>
                <path fill="#939393" d="M140.086,83.827H85.75c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h54.336c0.276,0,0.5,0.224,0.5,0.5
                                                S140.362,83.827,140.086,83.827z">
                </path>
            </g>
        </g>
        <g>
            <path fill="#939393" d="M100.271,124.342c-0.188,0-0.359-0.104-0.445-0.272l-1.109-2.166l-0.645-1.379l-0.953,1.429
                                            c-0.093,0.139-0.249,0.223-0.416,0.223h-2.752c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h2.484l1.297-1.945
                                            c0.1-0.15,0.279-0.232,0.454-0.222c0.18,0.014,0.339,0.124,0.416,0.287l1.013,2.168l0.646,1.261l0.619-1.269
                                            c0.084-0.171,0.258-0.28,0.449-0.28h4.721c0.276,0,0.5,0.224,0.5,0.5s-0.224,0.5-0.5,0.5h-4.408l-0.921,1.886
                                            c-0.083,0.17-0.255,0.278-0.444,0.28C100.274,124.342,100.272,124.342,100.271,124.342z">
            </path>
        </g>
        <g>
            <g>
                <path fill="#939393" d="M140.086,117.172h-13.369c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h13.369
                                                c0.276,0,0.5,0.224,0.5,0.5S140.362,117.172,140.086,117.172z">
                </path>
            </g>
            <g>
                <path fill="#939393" d="M122.576,117.172h-3.201c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h3.201c0.276,0,0.5,0.224,0.5,0.5
                                                S122.853,117.172,122.576,117.172z">
                </path>
            </g>
            <g>
                <path fill="#939393" d="M114.25,117.172H59.914c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h54.336c0.276,0,0.5,0.224,0.5,0.5
                                                S114.526,117.172,114.25,117.172z">
                </path>
            </g>
        </g>
        <g>
            <path fill="#939392" d="M106.914,100.549c-0.195-0.194-0.512-0.195-0.707,0l-0.742,0.743l-0.742-0.743
                                            c-0.195-0.195-0.512-0.195-0.707,0c-0.195,0.195-0.195,0.512,0,0.708l0.742,0.743l-0.742,0.744c-0.195,0.195-0.195,0.512,0,0.707
                                            c0.098,0.098,0.226,0.146,0.354,0.146s0.256-0.049,0.354-0.146l0.742-0.743l0.742,0.743c0.098,0.098,0.226,0.146,0.354,0.146
                                            s0.256-0.049,0.354-0.146c0.195-0.195,0.195-0.512,0-0.707L106.172,102l0.742-0.743
                                            C107.109,101.062,107.109,100.745,106.914,100.549z">
            </path>
            <path fill="#939392" d="M108.868,100.403c-0.881,0-1.597,0.716-1.597,1.597s0.716,1.598,1.597,1.598s1.598-0.717,1.598-1.598
                                            S109.749,100.403,108.868,100.403z M108.868,102.598c-0.329,0-0.597-0.269-0.597-0.598s0.268-0.597,0.597-0.597
                                            s0.598,0.268,0.598,0.597S109.197,102.598,108.868,102.598z">
            </path>
            <path fill="#939392" d="M89.729,93.774h6.854c0.276,0,0.5-0.224,0.5-0.5s-0.224-0.5-0.5-0.5h-6.854c-0.276,0-0.5,0.224-0.5,0.5
                                            S89.453,93.774,89.729,93.774z">
            </path>
            <path fill="#939392" d="M104.854,95.376c0-0.276-0.224-0.5-0.5-0.5h-9.663c-0.276,0-0.5,0.224-0.5,0.5s0.224,0.5,0.5,0.5h9.663
                                            C104.63,95.876,104.854,95.653,104.854,95.376z">
            </path>
            <path fill="#939392" d="M98.718,96.985h-8.989c-0.276,0-0.5,0.224-0.5,0.5s0.224,0.5,0.5,0.5h8.989c0.276,0,0.5-0.224,0.5-0.5
                                            S98.995,96.985,98.718,96.985z">
            </path>
            <path fill="#939392" d="M99.354,93.774h1.438c0.276,0,0.5-0.224,0.5-0.5s-0.224-0.5-0.5-0.5h-1.438c-0.276,0-0.5,0.224-0.5,0.5
                                            S99.078,93.774,99.354,93.774z">
            </path>
            <path fill="#939392" d="M102.938,96.985H101.5c-0.276,0-0.5,0.224-0.5,0.5s0.224,0.5,0.5,0.5h1.438c0.276,0,0.5-0.224,0.5-0.5
                                            S103.214,96.985,102.938,96.985z">
            </path>
            <path fill="#939392" d="M110.271,92.774h-6.709c-0.276,0-0.5,0.224-0.5,0.5s0.224,0.5,0.5,0.5h6.709c0.276,0,0.5-0.224,0.5-0.5
                                            S110.548,92.774,110.271,92.774z">
            </path>
            <path fill="#939392" d="M89.729,95.876h2.19c0.276,0,0.5-0.224,0.5-0.5s-0.224-0.5-0.5-0.5h-2.19c-0.276,0-0.5,0.224-0.5,0.5
                                            S89.453,95.876,89.729,95.876z">
            </path>
            <path fill="#939392" d="M110.271,94.876h-3.146c-0.276,0-0.5,0.224-0.5,0.5s0.224,0.5,0.5,0.5h3.146c0.276,0,0.5-0.224,0.5-0.5
                                            S110.548,94.876,110.271,94.876z">
            </path>
            <path fill="#939392" d="M110.271,96.985h-4.563c-0.276,0-0.5,0.224-0.5,0.5s0.224,0.5,0.5,0.5h4.563c0.276,0,0.5-0.224,0.5-0.5
                                            S110.548,96.985,110.271,96.985z">
            </path>
            <path fill="#939392" d="M110.784,88.563h-2H91.216c-2.524,0-4.578,2.054-4.578,4.578v9.046c0,2.524,2.054,4.578,4.578,4.578h4.599
                                            l3.831,3.831c0.098,0.098,0.226,0.146,0.354,0.146s0.256-0.049,0.354-0.146L101,109.95l0.646,0.646
                                            c0.098,0.098,0.226,0.146,0.354,0.146s0.256-0.049,0.354-0.146l3.831-3.831h2.6h2c2.523,0,4.577-2.054,4.577-4.578v-9.046
                                            C115.361,90.617,113.308,88.563,110.784,88.563z M112.361,102.188c0,1.973-1.604,3.578-3.577,3.578h-4.807
                                            c-0.133,0-0.26,0.053-0.354,0.146L100,109.536l-3.624-3.624c-0.094-0.094-0.221-0.146-0.354-0.146h-4.806
                                            c-1.973,0-3.578-1.605-3.578-3.578v-9.046c0-1.973,1.605-3.578,3.578-3.578h17.568c1.973,0,3.577,1.605,3.577,3.578V102.188z">
            </path>
        </g>
        <path fill="#939393" d="M139.956,72.618H60.043c-2.524,0-4.577,2.054-4.577,4.578v45.609c0,2.524,2.053,4.578,4.577,4.578h31.905
                                        c-0.216,2.513-1.896,7.997-4.4,7.997H75.964c-1.248,0-2.263,1.015-2.263,2.262v0.5h52.598v-0.5c0-1.247-1.016-2.262-2.265-2.262
                                        h-11.582c-2.506,0-4.185-5.484-4.4-7.997h31.904c2.524,0,4.578-2.054,4.578-4.578V77.195
                                        C144.534,74.671,142.48,72.618,139.956,72.618z M110.243,135.38H89.756c1.949-1.872,3.034-5.905,3.196-7.997h14.096
                                        C107.209,129.475,108.294,133.508,110.243,135.38z M143.534,122.805c0,1.973-1.605,3.578-3.578,3.578H60.043
                                        c-1.973,0-3.577-1.605-3.577-3.578V77.195c0-1.973,1.604-3.578,3.577-3.578h79.913c1.973,0,3.578,1.605,3.578,3.578V122.805z">
        </path>
        <g>
            <path fill="#939393" d="M144.856,137.642c0-0.276-0.224-0.5-0.5-0.5H27.31c-0.276,0-0.5,0.224-0.5,0.5s0.224,0.5,0.5,0.5h117.046
                                            C144.633,138.142,144.856,137.918,144.856,137.642z">
            </path>
            <path fill="#939393" d="M171,143.772h-40.519c-0.276,0-0.5,0.224-0.5,0.5s0.224,0.5,0.5,0.5H171c0.276,0,0.5-0.224,0.5-0.5
                                            S171.276,143.772,171,143.772z">
            </path>
            <path fill="#939393" d="M95.997,145.375H79.586c-0.276,0-0.5,0.224-0.5,0.5s0.224,0.5,0.5,0.5h16.411c0.276,0,0.5-0.224,0.5-0.5
                                            S96.273,145.375,95.997,145.375z">
            </path>
            <path fill="#939393" d="M133.565,153.5H103.55c-0.276,0-0.5,0.224-0.5,0.5s0.224,0.5,0.5,0.5h30.016c0.276,0,0.5-0.224,0.5-0.5
                                            S133.842,153.5,133.565,153.5z">
            </path>
        </g>
        <g>
            <path fill="#939393" d="M159.943,128.532h-3.477c0.041-0.372,0.085-0.746,0.121-1.107l0.141,0.09
                                            c0.084,0.054,0.178,0.079,0.271,0.079c0.164,0,0.325-0.081,0.421-0.229c0.149-0.232,0.082-0.542-0.15-0.691l-0.578-0.372
                                            c0.148-1.718,0.227-3.307,0.236-4.756l0.514,0.128c0.041,0.01,0.081,0.015,0.121,0.015c0.225,0,0.429-0.151,0.485-0.379
                                            c0.066-0.268-0.097-0.539-0.364-0.606l-0.76-0.189c-0.048-2.778-0.374-4.981-0.971-6.521l0.254-0.076
                                            c0.264-0.079,0.414-0.358,0.334-0.623c-0.079-0.264-0.356-0.415-0.623-0.334l-0.403,0.121c-0.157-0.271-0.321-0.521-0.504-0.726
                                            c-0.826-0.931-1.979-1.168-2.976-0.72l-0.152-0.475c-0.085-0.265-0.367-0.405-0.629-0.324c-0.264,0.085-0.408,0.366-0.324,0.629
                                            l0.251,0.784c-0.037,0.038-0.078,0.065-0.114,0.106c-0.464,0.523-0.839,1.279-1.136,2.224l-0.25-0.193
                                            c-0.216-0.167-0.53-0.129-0.701,0.09c-0.169,0.219-0.129,0.533,0.09,0.701l0.585,0.452c-0.183,0.833-0.318,1.778-0.401,2.839
                                            l-0.38-0.151c-0.26-0.1-0.548,0.023-0.65,0.279c-0.102,0.257,0.023,0.548,0.279,0.65l0.691,0.275
                                            c-0.035,0.795-0.054,1.625-0.038,2.524c-0.297-0.161-0.586-0.213-0.827-0.213c-0.084,0-0.164,0.014-0.246,0.025l-0.498-0.563
                                            c-0.186-0.209-0.501-0.227-0.706-0.044c-0.207,0.184-0.227,0.499-0.044,0.706l0.305,0.345c-0.045,0.038-0.093,0.071-0.136,0.115
                                            c-0.639,0.655-1.051,1.845-1.24,3.532l-0.556-0.142c-0.271-0.071-0.539,0.095-0.607,0.361c-0.068,0.268,0.094,0.539,0.361,0.607
                                            l0.719,0.183c-0.027,0.489-0.036,1.019-0.033,1.573h-2.777c-0.276,0-0.5,0.224-0.5,0.5v3.809c0,0.276,0.224,0.5,0.5,0.5h0.34
                                            l1.643,11.006c0.036,0.244,0.246,0.426,0.494,0.426h12.121c0.248,0,0.458-0.182,0.494-0.426l1.643-11.006h0.34
                                            c0.276,0,0.5-0.224,0.5-0.5v-3.809C160.443,128.756,160.22,128.532,159.943,128.532z M151.814,113.019
                                            c0.73-0.82,1.72-0.822,2.448,0c0.8,0.901,2.493,4.224,1.198,15.514h-4.844C149.32,117.243,151.015,113.921,151.814,113.019z
                                             M147.719,123.116c0.187-0.19,0.386-0.283,0.609-0.283c0.124,0,0.491,0,0.868,0.628l0.011,0.171
                                            c0.037,0.801,0.09,1.632,0.163,2.501l0.008,0.122l0.041,0.411c0.044,0.481,0.093,0.971,0.147,1.472l0.075,0.395h-0.922h-2.079
                                            C146.611,124.824,147.296,123.549,147.719,123.116z M157.036,143.772h-11.26l-1.557-10.432h14.373L157.036,143.772z
                                             M159.443,132.341h-16.074v-2.809h16.074V132.341z">
            </path>
            <path fill="#939393" d="M152.816,126.821c-0.034,0.274,0.161,0.524,0.435,0.558c0.021,0.003,0.042,0.004,0.063,0.004
                                            c0.249,0,0.464-0.186,0.495-0.438c0.474-3.849,0.188-8.544-0.276-11.278c-0.047-0.273-0.308-0.455-0.577-0.409
                                            c-0.272,0.047-0.455,0.305-0.409,0.577C153.014,118.583,153.257,123.24,152.816,126.821z">
            </path>
            <path fill="#939393" d="M151.425,125.304l-0.709,0.609c-0.209,0.18-0.233,0.495-0.053,0.705c0.099,0.115,0.238,0.174,0.379,0.174
                                            c0.115,0,0.231-0.04,0.326-0.121l0.709-0.609c0.209-0.18,0.233-0.495,0.053-0.705C151.95,125.147,151.636,125.124,151.425,125.304
                                            z">
            </path>
            <path fill="#939393" d="M151.249,118.501c0.095,0.083,0.212,0.124,0.329,0.124c0.139,0,0.277-0.058,0.376-0.171
                                            c0.183-0.208,0.161-0.523-0.047-0.705l-0.536-0.469c-0.207-0.182-0.522-0.162-0.705,0.047c-0.183,0.208-0.161,0.523,0.047,0.705
                                            L151.249,118.501z">
            </path>
            <path fill="#939393" d="M149.188,126.561c0-0.276-0.224-0.5-0.5-0.5h-0.854c-0.276,0-0.5,0.224-0.5,0.5s0.224,0.5,0.5,0.5h0.854
                                            C148.964,127.061,149.188,126.837,149.188,126.561z">
            </path>
        </g>
    </g>
                            </svg>