<br /><br />
<style>
    img {max-height: 230px; max-width: 400px;}
    .xlc_link {color: #2196F3; text-decoration: underline; float: none!important;} /* links in message */
</style>

{% set participants = [] %}
{% for participant in conversation.participants %}
    {% if participant.id != reporter.id %}
        {% set participants = participants | merge([participant.username]) %}
    {% endif %}
{% endfor %}

<span><b>{{ reporter.username }}</b> has reported a conversation with {{ participants | join(' and ') | raw }}</span>

{% for message in messages %}
    <span><b>{{ message.author.username }}</b>:</span>
    <br />
    <span>{{ message.body | raw }}:</span>
    <br /><br />
{% endfor %}