body, html	{ min-height: 100%; width: 100%; float: left; display: inline-block; text-align: center; margin: 0; padding: 0; border: 0; }
body * 		{ -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }

div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,  summary,time,
dl, dt, dd, ol, ul, li,fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, mark, audio, video {
  margin: 0;padding: 0;border: 0;font-size: 100%;vertical-align: baseline;}

input:focus, select:focus{outline:0;}
li, ul, ol{list-style-type: none;}
span, p, h1, h2, h3, h4, h5{ cursor: default; }
article, aside, details, figcaption, figure,
footer, header, menu, nav, section { display: block; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table 		{ border-collapse: collapse;border-spacing: 0; }
a, a *		{cursor: pointer;outline: none;text-decoration: none;}
a:focus,
a:hover 	{text-decoration:none;outline:0 none; cursor:pointer}

input,label,select,button,textarea{
  margin:0;
  border:0;
  padding:0;
  display:inline-block;
  vertical-align:middle;
  white-space:normal;
  background:none;
}

button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

input[type=checkbox],input[type=radio]{width:13px;height:13px;}
input[type=search]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;}
textarea {vertical-align:top;overflow:auto;}
::-webkit-search-decoration{display:none;}
button,input[type="reset"],input[type="button"],input[type="submit"]{overflow:visible;width:auto;}