{% extends 'XLabsChatBundle:Frontend:bundle_wrapper.html.twig' %}

{% block xlabs_chat_wrapper %}
    <link rel="stylesheet" href="{{ asset('bundles/xlabschat/css/lato/lato.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/xlabschat/css/base.css') }}" type="text/css"/>
    {#<link rel="stylesheet" href="https://www.commonsensual.com/bundles/mmfrontend/commonsensual/style/chat/base.css" type="text/css"/>#}
    <meta http-equiv="Content-Type" content="application/x-www-form-urlencoded; charset=UTF-8"/>
    <script src="{{ asset('bundles/xlabschat/jquery-1112.js') }}"></script>
    <script src="{{ asset('bundles/xlabschat/jquery.xdomainajax.js') }}"></script>
    <script src="{{ asset('bundles/xlabschat/plugins/md5.min.js') }}"></script>
    <script src="{{ asset('bundles/xlabschat/functions.js') }}"></script>
    <script src="{{ asset('bundles/xlabschat/events.js') }}"></script>
    <script src="{{ asset('bundles/xlabschat/_XLC.js') }}"></script>
    <script src="{{ asset('chat/node_modules/socket.io/node_modules/socket.io-client/socket.io.js') }}"></script>

    {# Tabs #}
    <link rel="stylesheet" href="{{ asset('bundles/xlabschat/jquery-ui.css') }}">
    <script src="{{ asset('bundles/xlabschat/jquery-ui.min.1121.js') }}"></script>
    <style>
        .ui-widget-content, .ui-widget.ui-widget-content {border: 0;}
        ._tab_title {height: 40px; float: left; width: 50%; display: inline-block;}
        ._tab_title a {width: 100%; height: 100%; text-align: center; display: inline-block; font: 16px/40px LatoMedium,Helvetica,Arial,sans-serif;}
        ._tab_content {margin-top: 12px;}
        /*.ui-widget-header .ui-state-default {border: 1px solid #003eff;}*/
        .ui-widget-header .ui-state-active {background: #2196f3; border: 0;}
    </style>

    <script type="text/javascript">
        var XLC = new _XLC();
        XLC.init();

        XLC.user_entity_mappings = {
            id: '{{ config.user_entity_mappings.id }}',
            username: '{{ config.user_entity_mappings.username }}',
            avatar: '{{ config.user_entity_mappings.avatar }}'
        };
        XLC.conversations = JSON.parse('{{ conversations | raw | e('js') }}');
        XLC.blocked = JSON.parse('{{ blocked_users | raw }}');
        XLC.users = JSON.parse('{{ users | raw }}');
        XLC.online_users = JSON.parse('{{ online_users | raw }}');
        XLC.user = {
            id: '{{ app.user.id }}',
            username: '{{ app.user.username }}',
            //avatar: '',
            //status: 'online'
        };
        XLC.socket = false;

        XLC._set('settings', {
            idle_counter: 0,
            idle_time: 120,
            idle_status_checked: false,
            typing_timer: 0,
            typing_time: 1000,
            typing_status_checked: false,
            max_file_size: {{ config.uploads.max_file_size }},
            images_prefix: {{ config.settings.images_prefix ? ('\''~config.settings.images_prefix~'\'') | raw : 'false' }}
        });

        {% if chat_user is defined and chat_user %}
            $(document).ready(function(){
                // Create conversation if doesn´t exist
                var XLC_conversation = XLC.conversation();
                XLC_conversation.conversation_id = getConversationId([XLC.user.id, {{ chat_user.id }}]);
                XLC_conversation.title = '{{ chat_user.username }}';
                XLC_conversation.participants = sortParticipants([XLC.user.id, {{ chat_user.id }}]).map(function(participant){
                    return parseInt(participant);
                }).sort(function(a, b){return a-b});
                XLC_conversation.conversation_type= 'user';
                createConversationItem(XLC_conversation);

                var conversationItem = getConversationItem(XLC_conversation.conversation_id);
                // Move user to top of list
                conversationItem.parent().prepend(conversationItem);
                conversationItem.click();
            });
        {% endif %}
    </script>

    {% include 'XLabsChatBundle:Client:socket_events.html.twig' with {
        'config': config
    } %}

    <div class="gqContainer gqConnecting">
        <div class="gqSpinnerContainer">
            <div class="gqSpinner">
                {% include 'XLabsChatBundle:Client:item/reconnect_button.html.twig' %}
                {% include 'XLabsChatBundle:Client:item/spinner.html.twig' %}
                <span class="gqTitle"></span>
            </div>
        </div>
    </div>

    <div class="gqContainer gqContent">
        <div class="gqLeft">
            <div id="tabs" style="display: inline;">
                <ul style="width: 100%;">
                    <li class="_tab_title"><a href="#tab-recent-conversations">Recent conversations</a></li>
                    <li class="_tab_title"><a href="#tab-online-users">Online users</a></li>
                </ul>
                <div id="tab-recent-conversations">
                    <div class="gqTop">
                        <div class="gqProfile">
                            {#
                            <img src="https://cdn.static.3tech.xyz/media/bikinifanatics/highlandsjen36285231309/01c7f76f1c709eed5de21f96e3352e7a.jpg" class="gqAvatar">
                            #}
                            <i class="fa fa-user-circle" style="width: 40px; height: 40px; font-size: 2.5em; display: inline-block; float: left; position: relative;"></i>
                        </div>
                        {% include 'XLabsChatBundle:Client:search.html.twig' with {
                            'config': config,
                            'users': users
                        } %}
                    </div>
                    <div class="gqBottom" id="conversationList">
                        <div class="gqNoConvo">
                            <span class="gqTitle">Search for users</span>
                            <span class="gqText">to start your first conversation</span>
                            <svg version="1.1" class="gqArrow" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="200px" height="200px" viewBox="0 0 200 200" enable-background="new 0 0 200 200" xml:space="preserve">
                            <g>
                                <path fill="#939393" d="M81.038,83.672c0-3.103-2.51-5.615-5.613-5.615s-5.613,2.512-5.613,5.615
                                    c0,23.813,6.594,45.179,19.597,63.517c1.091,1.545,2.824,2.368,4.583,2.368c1.124,0,2.259-0.335,3.24-1.036
                                    c2.534-1.793,3.125-5.297,1.332-7.824C86.938,124.295,81.038,105.111,81.038,83.672z"></path>
                                <path fill="#939393" d="M167.57,185.878c-11.816-2.966-34.643-10.662-54.553-28.89c-2.291-2.072-5.834-1.951-7.937,0.351
                                    c-2.09,2.286-1.937,5.84,0.352,7.928c21.739,19.897,46.56,28.278,59.42,31.497c0.45,0.114,0.909,0.171,1.36,0.171
                                    c2.521,0,4.801-1.7,5.449-4.249C172.407,189.677,170.587,186.629,167.57,185.878z"></path>
                                <path fill="#939393" d="M189.542,188.92l-1.874-0.028c-2.851,0.264-5.669,2.379-5.745,5.479c-0.076,3.103,2.38,5.671,5.483,5.75
                                    l2.136,0.026c3.104,0,5.613-2.512,5.613-5.615C195.155,191.429,192.646,188.92,189.542,188.92z"></path>
                                <path fill="#939393" d="M69.812,60.988c0,3.101,2.51,5.613,5.613,5.613s5.613-2.512,5.613-5.613V47.185
                                    c0-3.101-2.51-5.613-5.613-5.613H48.866l26.559-26.564l26.564,26.564h-8.004c-3.103,0-5.613,2.512-5.613,5.613
                                    c0,3.103,2.51,5.613,5.613,5.613h21.553c2.271,0,4.321-1.364,5.187-3.464c0.866-2.099,0.384-4.511-1.216-6.119L79.393,3.101
                                    c-2.104-2.105-5.832-2.105-7.937,0l-40.11,40.114c-1.606,1.607-2.09,4.02-1.218,6.119c0.867,2.101,2.916,3.464,5.186,3.464h34.497
                                    V60.988z"></path>
                            </g>
                        </svg>
                        <svg class="gqSplash02" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             width="200px" height="200px" viewBox="0 0 200 200" enable-background="new 0 0 200 200" xml:space="preserve">
                            <path fill="#DDE3F1" d="M149.733,23.12c-38.628-28.827-46.695,20.175-86.474,29.976C27.193,61.978,38.045,4.523,0,0.162V200.1
                            h153.193C174.523,161.474,188.36,51.944,149.733,23.12z"></path>
                        </svg>
                        <svg class="gqSplash01" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             width="200px" height="200px" viewBox="0 0 200 200" enable-background="new 0 0 200 200" xml:space="preserve">
                            <path fill="#DDE3F1" d="M67.435,0c0.03,0.273,0.054,0.547,0.093,0.818c4.296,29.566,29.311,11.624,51.042,24.764
                            c21.731,13.143-16.932,36.64,10.611,56.603c21.903,15.871,29.814-42.979,49.096-38.505c19.279,4.476-8.145,36.592,16.605,49.116
                            c1.671,0.846,3.383,1.298,5.117,1.408V0H67.435z"></path>
                        </svg>
                        </div>
                        {% include 'XLabsChatBundle:Client/item:conversation.html.twig' %}
                    </div>
                    <div class="gqBottom" id="userList" style="display: none;">
                        {% include 'XLabsChatBundle:Client/item:user.html.twig' %}
                        <span class="no_results_found" style="display: none;">
                            No results found
                        </span>
                    </div>
                </div>
                <div id="tab-online-users" class="_tab_content">
                    <div class="gqBottom" id="onlineUsersList" style="margin-top: 10px;">
                        <span class="no_results_found" style="display: none;">
                            No online users at the moment.
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="gqRight">
            <div id="chatContainer" class="gqChatContainer">
                <div class="gqOverContainer">
                    <div class="gqOver">
                        <div class="gqWelcomeTop">
                            {% include 'XLabsChatBundle:Client/item:welcome_svg.html.twig' %}
                        </div>
                        <div class="gqWelcomeBottom">
                            <span class="gqTitle">Keep this tab open to be in the chat</span>
                            <span class="gqPost">For more info and tips about this chat, <a href="">click here</a>.</span>
                        </div>
                    </div>
                </div>

                {% include 'XLabsChatBundle:Client/item:conversationWindow.html.twig' with {
                    'config': config
                } %}

                {% include 'XLabsChatBundle:Client/item:image_preloader.html.twig' %}
                {% include 'XLabsChatBundle:Client/item:image_error.html.twig' %}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        // Tabs
        $(function(){
            $('#tabs').tabs();
        });
    
        // Script for mobile

        $('.gqContainer .gqLeft').addClass('gqVisible');
        $('body').on('click', '.gqOnlineUser', function(){
            $('.gqContainer .gqLeft').removeClass('gqVisible');
            $('.gqContainer .gqRight').addClass('gqVisible');
        });
        $('body').on('click', '.gqUserBackMobile', function(){
            $('.gqContainer .gqRight').removeClass('gqVisible');
            $('.gqContainer .gqLeft').addClass('gqVisible');
        });

        $('body').on('click', '.gqMobileMenu', function(){
            $('.gqMobileTab').show();
        });
        $('body').on('click', '.gqCloseMobile', function(){
            $('.gqMobileTab').hide();
        });
    </script>
{% endblock xlabs_chat_wrapper %}
