<input placeholder="Search for users" id="onlineSearch" type="text" class="gqSearchBox" />

<svg version="1.1" class="gqMobileMenu" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     width="200px" height="200px" viewBox="0 0 200 200" enable-background="new 0 0 200 200" xml:space="preserve">
    <g>
        <path fill="#939393" d="M164.146,88.71H35.857c-1.987,0-3.597,1.611-3.597,3.597v15.387c0,1.986,1.606,3.598,3.597,3.598h128.286
            c1.988,0,3.598-1.611,3.598-3.598V92.308C167.74,90.322,166.133,88.71,164.146,88.71z"></path>
        <path fill="#939393" d="M164.146,134.463H35.857c-1.987,0-3.597,1.612-3.597,3.598v15.388c0,1.988,1.606,3.597,3.597,3.597h128.286
            c1.988,0,3.598-1.608,3.598-3.597v-15.388C167.74,136.075,166.133,134.463,164.146,134.463z"></path>
        <path fill="#939393" d="M164.146,42.955H35.857c-1.987,0-3.597,1.611-3.597,3.597V61.94c0,1.986,1.606,3.597,3.597,3.597h128.286
            c1.988,0,3.598-1.611,3.598-3.597V46.55C167.74,44.565,166.133,42.955,164.146,42.955z"></path>
    </g>
</svg>

<script type="text/javascript">
    var typingTimer;
    var doneTypingInterval = 800;

    var filtered_keys_by_id = function(obj, filter) {
        var key, keys = [];
        if(filter != '')
        {
            filter = new RegExp(filter.toLowerCase());
            for (key in obj) {
                if (obj.hasOwnProperty(key) && (obj[key].id == filter)) {
                    keys.push(key);
                }
            }
        }
        return keys;
    };

    var filtered_keys_by_username = function(obj, filter) {
        var key, keys = [];
        if(filter != '')
        {
            filter = new RegExp(filter.toLowerCase());
            for (key in obj) {
                if (obj.hasOwnProperty(key) && filter.test(obj[key].username.toLowerCase())) {
                    keys.push(key);
                }
            }
        }
        return keys;
    };

    $('#onlineSearch').unbind().bind('keyup', function(e){
        var valThis = $(this).val().toLowerCase();
        if(valThis.length >= 3)
        {
            clearTimeout(typingTimer);
            typingTimer = setTimeout(function(){
                $('#conversationList').hide();
                $('#userList span.no_results_found').hide();
                $('#userList li:not(.sample)').remove();

                var results = filtered_keys_by_username(XLC.users, valThis);
                if(results.length)
                {
                    var results_items = '';
                    for(var i=0; i<results.length; i++)
                    {
                        /*results_items += '<li id="" class="gqOnlineUser" data-user="' + XLC.users[results[i]]['{{ config.user_entity_mappings.id }}'] + '" data-conversation="">\n' +
                            '            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"\n' +
                            '         width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve" class="gqUserIcon">\n' +
                            '        <path fill="#939393" d="M39.992,33.117c-0.878-5.146-2.269-8.38-6.583-9.83c1.573-1.809,2.518-4.139,2.518-6.678\n' +
                            '            c0-5.778-4.902-10.48-10.927-10.48c-6.025,0-10.928,4.702-10.928,10.48c0,2.536,0.946,4.866,2.517,6.68\n' +
                            '            c-4.314,1.448-5.706,4.687-6.582,9.828c-0.613,3.59-0.104,6.328,1.517,8.165c1.521,1.717,3.978,2.588,7.301,2.588h12.349\n' +
                            '            c3.322,0,5.78-0.871,7.298-2.588C40.096,39.455,40.608,36.707,39.992,33.117z M25,8.007c4.946,0,8.969,3.858,8.969,8.603\n' +
                            '            c0,4.742-4.022,8.603-8.969,8.603c-4.946,0-8.971-3.86-8.971-8.603C16.029,11.865,20.054,8.007,25,8.007z M36.982,40.071\n' +
                            '            c-1.129,1.272-3.085,1.923-5.809,1.923H18.827c-2.726,0-4.681-0.65-5.811-1.923c-1.232-1.392-1.594-3.632-1.079-6.649\n' +
                            '            c0.951-5.579,2.487-7.717,6.277-8.615c1.865,1.423,4.222,2.282,6.786,2.282c2.565,0,4.92-0.859,6.785-2.286\n' +
                            '            c3.792,0.898,5.321,3.033,6.277,8.616C38.578,36.445,38.215,38.68,36.982,40.071z">\n' +
                            '        </path>\n' +
                            '    </svg>\n' +
                            '        <div class="gqUserMeta"><span class="gqUserTitle">' + XLC.users[results[i]]['{{ config.user_entity_mappings.username }}'] + '</span><div class="gqBorder"></div></div>\n' +
                            '        <!--(<span class="gqUserUnreadMessages"><span>0</span></span> new messages)\n' +
                            '        - <span class="gqUserStatus" style="font-style: italic;"></span>\n' +
                            '        <p></p>-->\n' +
                            '    </li>';*/
                        results_items += '<li id="" class="gqOnlineUser" data-user="' + XLC.users[results[i]]['{{ config.user_entity_mappings.id }}'] + '" data-conversation="">\n';
                        if(XLC.users[results[i]].avatar)
                        {
                            results_items += '<img class="gqUserIcon" src="' +  XLC.users[results[i]].avatar + '" />\n';
                        } else {
                            results_items += '<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"\n' +
                                '         width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve" class="gqUserIcon">\n' +
                                '        <path fill="#939393" d="M39.992,33.117c-0.878-5.146-2.269-8.38-6.583-9.83c1.573-1.809,2.518-4.139,2.518-6.678\n' +
                                '            c0-5.778-4.902-10.48-10.927-10.48c-6.025,0-10.928,4.702-10.928,10.48c0,2.536,0.946,4.866,2.517,6.68\n' +
                                '            c-4.314,1.448-5.706,4.687-6.582,9.828c-0.613,3.59-0.104,6.328,1.517,8.165c1.521,1.717,3.978,2.588,7.301,2.588h12.349\n' +
                                '            c3.322,0,5.78-0.871,7.298-2.588C40.096,39.455,40.608,36.707,39.992,33.117z M25,8.007c4.946,0,8.969,3.858,8.969,8.603\n' +
                                '            c0,4.742-4.022,8.603-8.969,8.603c-4.946,0-8.971-3.86-8.971-8.603C16.029,11.865,20.054,8.007,25,8.007z M36.982,40.071\n' +
                                '            c-1.129,1.272-3.085,1.923-5.809,1.923H18.827c-2.726,0-4.681-0.65-5.811-1.923c-1.232-1.392-1.594-3.632-1.079-6.649\n' +
                                '            c0.951-5.579,2.487-7.717,6.277-8.615c1.865,1.423,4.222,2.282,6.786,2.282c2.565,0,4.92-0.859,6.785-2.286\n' +
                                '            c3.792,0.898,5.321,3.033,6.277,8.616C38.578,36.445,38.215,38.68,36.982,40.071z">\n' +
                                '        </path>\n' +
                                '    </svg>\n';
                        }
                        results_items += '    <div class="gqStatus">\n' +
                            '        <span class="gqOnline"></span>\n' +
                            '        <span class="gqOffline"></span>\n' +
                            '    </div>';
                        results_items += '        <div class="gqUserMeta"><span class="gqUserTitle">' + XLC.users[results[i]]['{{ config.user_entity_mappings.username }}'] + '</span><div class="gqBorder"></div></div>\n' +
                        '        <!--(<span class="gqUserUnreadMessages"><span>0</span></span> new messages)\n' +
                        '        - <span class="gqUserStatus" style="font-style: italic;"></span>\n' +
                        '        <p></p>-->\n' +
                        '    </li>';
                    }
                    $('#userList').append($(results_items));
                } else {
                    $('#userList span.no_results_found').show();
                }
                $('#userList').show();

                // Check results online status
                XLC.socket.emit('check_user_status', XLC.user, results.map(function(user_id){
                    return user_id;
                }));
            }, doneTypingInterval);
        } else {
            if(!valThis.length)
            {
                $('#userList').hide();
                $('#conversationList').show();
            }
        }
    }).bind('keydown', function(e){
        clearTimeout(typingTimer);
    });
</script>