<script type="text/javascript">
    var connectionOptions = {
        secure: true,
        rejectUnauthorized: true,
        transports: ['websocket']
        //ca: fs.readFileSync('server-cert.pem')
    };
    //XLC.socket = io('{{ config.nodejs_settings.host }}:{{ config.nodejs_settings.port }}/xlabs_chat{{ channel_name }}', connectionOptions);
    XLC.socket = io('https://{{ config.nodejs_settings.host }}/xlabs_chat{{ channel_name }}', connectionOptions);
    //XLC.socket = io('{{ config.nodejs_settings.schema }}://{{ config.nodejs_settings.host }}/xlabs_chat{{ channel_name }}', connectionOptions);

    // Online status verifier
    /*window.setInterval(function(){
        XLChat.settings.idle_counter++;
        if(!XLChat.settings.idle_status_checked && XLChat.settings.idle_counter > XLChat.settings.idle_time)
        {
            XLChat.socket.emit('status idle', XLChat.user);
            XLChat.settings.idle_status_checked = true;
        }
    }, 1000);*/

    XLC.socket.on('error', function(data){
        console.log('Chat server connection could not be established');
    });
    XLC.socket.on('connect_failed', function(data){
        console.log('Chat server connection could not be established');
    });
    XLC.socket.on('connect_error', function(data){
        console.log('Chat server connection could not be established');
    });
    XLC.socket.on('reconnecting', function reconnectCallback(tries){
        if(tries === 3)
        {
            // Dont try to reconnect after 3 attempts
            XLC.socket.disconnect();

            $('.gqContent').hide();
            $('.gqConnecting').css({
                'display': 'inline-block'
            }).find('span.gqTitle').text('Couldn´t connect to the server. Please try again in a few seconds.');
            $('.gqConnecting .svg-loader').hide();
            $('.gqConnecting .gqReconnect').show().on('click', function(){
                window.location.reload();
            });
        }
    });
    XLC.socket.on('connect', function(){
        $('.gqConnecting').hide();
        $('.gqContent').css({
            'display': 'inline-block'
        });
    });

    XLC.socket.on('login', function(XLC_user){
        // Check if user is in XLC.users, if not, ask for the json
        let user_id = parseInt(XLC_user.id);
        if((user_id != XLC.user.id) && !(user_id in XLC.users))
        {
            $.ajax({
                url: Routing.generate('xlabs_chat_reload_users_json'),
                type: 'get',
                dataType: 'json',
                success: function(users){
                    //users = JSON.parse(users);
                    delete users[XLC.user.id];
                    //XLC.users = JSON.stringify(users);
                    XLC.users = users;
                },
                error: function(err){
                    console.log('Error retrieving users list');
                    console.log(err.message);
                }
            });
        }
    });

    XLC.socket.on('first_login', function(XLC_user){
        createOnlineUserItem(XLC_user.id, true);
        $('#onlineUsersList span.no_results_found').hide();

        // Check results online status
        XLC.socket.emit('check_user_status', XLC.user, [XLC_user.id]);
    });

    // Receive message
    XLC.socket.on('message', function(message){
        var conversation_id = message.conversation_id;
        var _message = {
            author: message.author,
            creationdate: message.timestamp,
            body: message.body
        };

        // if the sender is blocked, skip
        if(XLC.blocked.indexOf(message.author.id) > -1)
        {
            return false;
        }

        // Create conversation if doesn´t exist
        var XLC_conversation = XLC.conversation();
        XLC_conversation.conversation_id = conversation_id;
        XLC_conversation.title = message.author.username;
        XLC_conversation.participants = message.participants.split(',').map(function(participant){
            return parseInt(participant);
            //return parseInt(participant.id);
        }).sort(function(a, b){return a-b});
        XLC_conversation.conversation_type = 'user'; // forced user chat; will need to change for groups
        XLC_conversation.last_message = message.body ? message.body : false;

        createConversationItem(XLC_conversation);
        createConversationWindow({
            conversation_id: conversation_id,
            participants: message.participants
        });

        var conversationItem = getConversationItem(conversation_id);
        if(message.author.id == XLC.user.id)
        {
            appendMessageToConversationWindow(conversation_id, _message);
        } else {
            if(conversationItem.attr('data-loaded') == 'true')
            {
                appendMessageToConversationWindow(conversation_id, _message);
                var conversationWindow = getConversationWindow(conversation_id);
                if(conversationWindow.is(':visible'))
                {
                    // Mark as read all messages of current user for the conversation
                    markMessagesAsRead(conversation_id);
                }
            } else {
                updateUnreadMessagesCounter(conversation_id);
            }
        }

        // Move user to top of list
        conversationItem.parent().prepend(conversationItem);

        $('.gqNoConvo').hide();

        // Extra notification when focus not in chat
        if(parseInt(message.sender_id) != parseInt(message.destinatary_id))
        {
            if(!XLC.window_focus)
            {
                var title = message.author.username + ' sent you a message';
                //if(message.body.substring(0, 5) == '<img ')
                if(message.body.indexOf('<img ') !== -1)
                {
                    title = message.author.username + ' sent you an image';
                    message.body = '';
                }
                message.body = ''; // always cleanup chat notification body
                XLC.liveNotification({
                    destinatary_id: message.destinatary_id,
                    title: title,
                    msg: message.body,
                    icon: false,
                    muted: false,
                    link: false,
                    sound: false,
                    fadeout_after_ms: 4000
                    //onClick: ''
                });

                if(!XLC.settings.no_focus_new_message_timer)
                {
                    XLC.settings.no_focus_new_message_timer = setInterval(function(){
                        if(document.title == XLC.original_title)
                        {
                            document.title = XLC.settings.no_focus_new_message_title;
                        } else {
                            document.title = XLC.original_title;
                        }
                    }, 700);
                }
            }

            XLC.liveSound({
                destinatary_id: parseInt(message.destinatary_id),
                file: '/bundles/xlabschat/sounds/message.mp3'
            });

            /*XLC.liveSpeak({
                destinatary_id: message.destinatary_id,
                text: message.body
            });*/
        }
    });

    /*XLC.socket.on('check_user_status', function(data){
        var user_id = data.user_id;
        var is_online = data.is_online;

        var conversationItem = $('#conversationList li[data-user="' + user_id + '"]');
        var conversation_id = conversationItem.attr('data-conversation');
        var conversationWindow = getConversationWindow(conversation_id);

        if(conversationWindow)
        {
            if(is_online)
            {
                conversationWindow.find('.gqStatus span#online').show();
                conversationWindow.find('.gqStatus span#offline').hide();
            } else {
                conversationWindow.find('.gqStatus span#offline').show();
                conversationWindow.find('.gqStatus span#online').hide();
            }
        }
    });*/

    XLC.socket.on('check_user_status', function(data){
        let userItem, onlineUserItem, conversationItem, conversation_id, conversationWindow, is_online;
        for(let i in data)
        {
            conversationItem = $('#conversationList li[data-user="' + i + '"]');
            conversation_id = conversationItem.attr('data-conversation');
            conversationWindow = getConversationWindow(conversation_id);
            userItem = getUserItem(i);
            onlineUserItem = getOnlineUserItem(i);
            is_online = data[i];

            if(userItem)
            {
                if(is_online)
                {
                    userItem.find('.gqStatus .gqOnline').show();
                    userItem.find('.gqStatus .gqOffline').hide();
                } else {
                    userItem.find('.gqStatus .gqOffline').show();
                    userItem.find('.gqStatus .gqOnline').hide();
                }
            }

            if(onlineUserItem)
            {
                if(is_online)
                {
                    onlineUserItem.find('.gqStatus .gqOnline').show();
                    onlineUserItem.find('.gqStatus .gqOffline').hide();
                } else {
                    // Delete from online users list
                    onlineUserItem.remove();
                    if(isOnlineUsersListEmpty())
                    {
                        $('#onlineUsersList span.no_results_found').show();
                    }
                }
            }

            if(conversationItem)
            {
                if(is_online)
                {
                    conversationItem.find('.gqStatus .gqOnline').show();
                    conversationItem.find('.gqStatus .gqOffline').hide();
                } else {
                    conversationItem.find('.gqStatus .gqOffline').show();
                    conversationItem.find('.gqStatus .gqOnline').hide();
                }
            }

            if(conversationWindow)
            {
                if(is_online)
                {
                    conversationWindow.find('.gqStatus span#online').show();
                    conversationWindow.find('.gqStatus span#offline').hide();
                } else {
                    conversationWindow.find('.gqStatus span#offline').show();
                    conversationWindow.find('.gqStatus span#online').hide();
                }
            }
        }
    });

    XLC.socket.on('isTyping', function(data){
        let conversation_id = data.conversation_id;
        //var destinatary_id = data.destinatary_id;

        let conversationItem = getConversationItem(conversation_id);
        if(conversationItem)
        {
            // Get .gqLastMessage that´s currently visible
            let last_visible = conversationItem.find('.gqLastMessage:visible');
            if(last_visible.length)
            {
                //conversationItem.find('.gqLastMessage').removeAttr('data-last-visible');
                last_visible.attr('data-last-visible', true);
            }

            conversationItem.find('.gqUserTyping').show();
            conversationItem.find('.gqLastMessage.gqImage').hide();
            conversationItem.find('.gqLastMessage.gqLink').hide();
            conversationItem.find('.gqLastMessage.gqText').hide();
        }

        let conversationWindow = getConversationWindow(conversation_id);
        if(conversationWindow)
        {
            conversationWindow.find('.gqIsTyping').show();
        }
    });

    XLC.socket.on('stopTyping', function(data){
        let conversation_id = data.conversation_id;
        //var destinatary_id = data.destinatary_id;

        let conversationItem = getConversationItem(conversation_id);
        if(conversationItem)
        {
            // Get .gqLastMessage that´s currently visible
            let last_visible = conversationItem.find('.gqLastMessage[data-last-visible]');

            conversationItem.find('.gqUserTyping').hide();
            conversationItem.find('.gqLastMessage.gqImage').hide();
            conversationItem.find('.gqLastMessage.gqLink').hide();
            conversationItem.find('.gqLastMessage.gqText').hide();
            last_visible.show();
        }

        let conversationWindow = getConversationWindow(conversation_id);
        if(conversationWindow)
        {
            conversationWindow.find('.gqIsTyping').hide();
        }
    });

    XLC.socket.on('mark_conversation_as_read', function(data){
        let conversation_id = data.conversation_id;
        let conversationItem = getConversationItem(conversation_id);

        // Reset unread messages counter
        var currentUnreadMessages_container = conversationItem.find('span.gqUserUnreadMessages');
        currentUnreadMessages_container.hide().find('span').text(0);
    });

    XLC.socket.on('notification', function(data){
        showNotification(data);
    });
    XLC.socket.on('play_sound', function(data){
        playNotificationSound(data.file);
    });
    XLC.socket.on('speak_text', function(data){
        speakText(data.text);
    });
    XLC.socket.on('custom_message', function(data){
        if(typeof window[data.callback] === "function"){
            var callback = data.callback;
            if('destinatary_id' in data) delete data['destinatary_id'];
            if('callback' in data) delete data['callback'];
            window[callback](data);
        }
    });
</script>