
/* Webfont: Lato-Italic */@font-face {
    font-family: 'Lato';
    src: url('Lato-Italic.eot'); /* IE9 Compat Modes */
    src: url('Lato-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Lato-Italic.woff2') format('woff2'), /* Modern Browsers */
         url('Lato-Italic.woff') format('woff'), /* Modern Browsers */
         url('Lato-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


/* Webfont: Lato-Medium */@font-face {
    font-family: 'LatoMedium';
    src: url('Lato-Medium.eot'); /* IE9 Compat Modes */
    src: url('Lato-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Lato-Medium.woff2') format('woff2'), /* Modern Browsers */
         url('Lato-Medium.woff') format('woff'), /* Modern Browsers */
         url('Lato-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-MediumItalic */@font-face {
    font-family: 'LatoMedium';
    src: url('Lato-MediumItalic.eot'); /* IE9 Compat Modes */
    src: url('Lato-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Lato-MediumItalic.woff2') format('woff2'), /* Modern Browsers */
         url('Lato-MediumItalic.woff') format('woff'), /* Modern Browsers */
         url('Lato-MediumItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Regular */@font-face {
    font-family: 'Lato';
    src: url('Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
